<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        <div class="flex-center">
          Arena L{{buildingService.getBuilding(buildingType).level}}
        </div>
        <div class="flex-center">
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<looted></looted>
<ion-content *ngIf="team">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Your Heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [class.scrollable-list]="!blockView" [class.hero-block-view]="blockView">
        <hero-icon *ngFor="let hero of model.heroes" [showBusy]="false" [busyClickable]="true" [hero]="hero" class="mr-1 mr-1" [class.mt-1]="blockView" [clickable]="true" (clicked)="selectHero(hero)" [selected]="isHeroSelected(hero)"></hero-icon>
      </div>
      <div class="full-width flex-center">
        <ion-button size="small" fill="outline" color="dark" (click)="blockView = !blockView"><ion-icon [name]="blockView ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="flex-space-between">
        <div>Your Team</div>
        <ion-button color="success" size="small" (click)="saveTeam()">Save team as defense</ion-button>
      </div>
      <div class="flex-space-between">
        <hero-icon *ngFor="let hero of getSelectedHeroes()" [showBusy]="false" [busyClickable]="true" [hero]="hero" [clickable]="true" (clicked)="selectHero($event)"></hero-icon>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fight against others</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let otherTeam of otherTeams" class="mb-2">
        <div class="flex-space-between">
          <div>{{otherTeam.playerName}}</div>
          <ion-button color="danger" size="small" (click)="fight(otherTeam)">fight</ion-button>
        </div>
        <div class="flex-space-between">
          <hero-icon [showBusy]="false" [hero]="otherTeam.hero1"></hero-icon>
          <hero-icon [showBusy]="false" [hero]="otherTeam.hero2"></hero-icon>
          <hero-icon [showBusy]="false" [hero]="otherTeam.hero3"></hero-icon>
          <hero-icon [showBusy]="false" [hero]="otherTeam.hero4"></hero-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
