<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        <div class="flex-center">
          Arena - Level {{getBuilding().level}}
        </div>
        <div class="flex-center">
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="team">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Your Heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="scrollable-list">
        <div *ngFor="let hero of model.heroes" (click)="selectHero(hero)" class="hero-tile-small border-grey flex-vert-center pointer mr-2" [class.selected-tile]="isHeroSelected(hero)">
          <ion-img [src]="'assets/icon/chars/' + hero.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
          <div class="top-left-bubble level-bubble background-{{hero.heroBase.color}}">{{hero.level}}</div>
          <ion-img [src]="'assets/img/star_' + hero.stars + '.png'" class="hero-stars"></ion-img>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col sizeMd="2" class="flex-center">
          <div>Your Team</div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="hero1">
          <div (click)="selectHero(hero1)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/icon/chars/' + hero1.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{hero1.heroBase.color}}">{{hero1.level}}</div>
            <ion-img [src]="'assets/img/star_' + hero1.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!hero1">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/icon/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="hero2">
          <div (click)="selectHero(hero2)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/icon/chars/' + hero2.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{hero2.heroBase.color}}">{{hero2.level}}</div>
            <ion-img [src]="'assets/img/star_' + hero2.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!hero2">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/icon/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="hero3">
          <div (click)="selectHero(hero3)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/icon/chars/' + hero3.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{hero3.heroBase.color}}">{{hero3.level}}</div>
            <ion-img [src]="'assets/img/star_' + hero3.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!hero3">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/icon/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="hero4">
          <div (click)="selectHero(hero4)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/icon/chars/' + hero4.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{hero4.heroBase.color}}">{{hero4.level}}</div>
            <ion-img [src]="'assets/img/star_' + hero4.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!hero4">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/icon/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" class="flex-center">
          <ion-button color="success" (click)="saveTeam()">default</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fight against others</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row *ngFor="let otherTeam of otherTeams">
        <ion-col sizeMd="2" class="flex-center">
          <div>{{otherTeam.playerName}}</div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="otherTeam.hero1">
          <div class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/icon/chars/' + otherTeam.hero1.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{otherTeam.hero1.heroBase.color}}">{{otherTeam.hero1.level}}</div>
            <ion-img [src]="'assets/img/star_' + otherTeam.hero1.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!otherTeam.hero1">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/icon/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="otherTeam.hero2">
          <div class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/icon/chars/' + otherTeam.hero2.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{otherTeam.hero2.heroBase.color}}">{{otherTeam.hero2.level}}</div>
            <ion-img [src]="'assets/img/star_' + otherTeam.hero2.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!otherTeam.hero2">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/icon/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="otherTeam.hero3">
          <div class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/icon/chars/' + otherTeam.hero3.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{otherTeam.hero3.heroBase.color}}">{{otherTeam.hero3.level}}</div>
            <ion-img [src]="'assets/img/star_' + otherTeam.hero3.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!otherTeam.hero3">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/icon/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="otherTeam.hero4">
          <div class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/icon/chars/' + otherTeam.hero4.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{otherTeam.hero4.heroBase.color}}">{{otherTeam.hero4.level}}</div>
            <ion-img [src]="'assets/img/star_' + otherTeam.hero4.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!otherTeam.hero4">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/icon/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" class="flex-center">
          <ion-button color="danger" (click)="fight(otherTeam)">fight</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
