<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Vehicle {{vehicle ? vehicle.name : ''}}
        <div>
          <ion-button color="medium" fill="clean" (click)="cancel()">Cancel</ion-button>
          <ion-button color="success" (click)="save()" [disabled]="!vehicle">Save</ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/img/logo.png" alt=""></div>
<ion-content *ngIf="vehicle">
  <ion-card>
    <ion-card-content>
      <div class="flex-start">
        <div class="flex-center mr-2">
          <ion-img [src]="'assets/img/vehicles/' + vehicle.avatar + '.png'" class="hero-avatar pointer border-grey" (click)="changeAvatar($event)"></ion-img>
        </div>
        <div class="flex-grow">
          <ion-item lines="none">
            <ion-label>Name</ion-label>
            <ion-input type="text" [(ngModel)]="vehicle.name"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Max Level (1-10)</ion-label>
            <ion-input type="number" [(ngModel)]="vehicle.maxLevel" style="max-width: 50px;"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <div class="flex-space-between-wrap full-width">
              Engine: <ion-button fill="outline" [color]="vehicle.engineQuality == quality ? 'primary' : 'medium'" *ngFor="let quality of enumService.getPartQualities()" (click)="vehicle.engineQuality = quality">{{quality}}</ion-button>
            </div>
          </ion-item>
          <ion-item lines="none">
            <div class="flex-space-between-wrap full-width">
              Frame: <ion-button fill="outline" [color]="vehicle.frameQuality == quality ? 'primary' : 'medium'" *ngFor="let quality of enumService.getPartQualities()" (click)="vehicle.frameQuality = quality">{{quality}}</ion-button>
            </div>
          </ion-item>
          <ion-item lines="none">
            <div class="flex-space-between-wrap full-width">
              Computer: <ion-button fill="outline" [color]="vehicle.computerQuality == quality ? 'primary' : 'medium'" *ngFor="let quality of enumService.getPartQualities()" (click)="vehicle.computerQuality = quality">{{quality}}</ion-button>
            </div>
          </ion-item>
          <ion-item lines="none">
            <div class="flex-space-between-wrap full-width">
              Special1:
              <ion-item>
                <ion-select [(ngModel)]="vehicle.specialPart1" style="max-width: 100%">
                  <ion-select-option [value]="null">NONE</ion-select-option>
                  <ion-select-option *ngFor="let type of enumService.getPartTypes()" [value]="type">{{type}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button fill="outline" [color]="vehicle.specialPart1Quality == quality ? 'primary' : 'medium'" *ngFor="let quality of enumService.getPartQualities()" (click)="vehicle.specialPart1Quality = quality">{{quality}}</ion-button>
            </div>
          </ion-item>
          <ion-item lines="none">
            <div class="flex-space-between-wrap full-width">
              Special2:
              <ion-item>
                <ion-select [(ngModel)]="vehicle.specialPart2" style="max-width: 100%">
                  <ion-select-option [value]="null">NONE</ion-select-option>
                  <ion-select-option *ngFor="let type of enumService.getPartTypes()" [value]="type">{{type}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button fill="outline" [color]="vehicle.specialPart2Quality == quality ? 'primary' : 'medium'" *ngFor="let quality of enumService.getPartQualities()" (click)="vehicle.specialPart2Quality = quality">{{quality}}</ion-button>
            </div>
          </ion-item>
          <ion-item lines="none">
            <div class="flex-space-between-wrap full-width">
              Special3:
              <ion-item>
                <ion-select [(ngModel)]="vehicle.specialPart3" style="max-width: 100%">
                  <ion-select-option [value]="null">NONE</ion-select-option>
                  <ion-select-option *ngFor="let type of enumService.getPartTypes()" [value]="type">{{type}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button fill="outline" [color]="vehicle.specialPart3Quality == quality ? 'primary' : 'medium'" *ngFor="let quality of enumService.getPartQualities()" (click)="vehicle.specialPart3Quality = quality">{{quality}}</ion-button>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
