<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Fight Details{{fight ? ' - ' + fight.name : ''}}
        <div>
          <ion-button size="small" color="success" fill="outline" (click)="copy()">Copy</ion-button>
          <ion-button size="small" color="danger" (click)="testFight()">Test</ion-button>
          <ion-button size="small" color="medium" fill="clean" (click)="cancel()">Cancel</ion-button>
          <ion-button size="small" color="success" (click)="saveFight()">Save</ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/icon/logo.png" alt="" class="logo"></div>
<ion-content *ngIf="fight">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col sizeXs="3" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Name</ion-label>
            <ion-input [(ngModel)]="fight.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="9" sizeSm="6">
          <ion-item class="flex-grow">
            <ion-label position="floating">Description</ion-label>
            <ion-input [(ngModel)]="fight.description"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Resource</ion-label>
            <ion-select [(ngModel)]="fight.resourceType">
              <ion-select-option *ngFor="let res of getResourceTypes()" [value]="res.name">{{res.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Costs</ion-label>
            <ion-input [(ngModel)]="fight.costs" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">TravelSeconds</ion-label>
            <ion-input [(ngModel)]="fight.travelDuration" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">MsPerTurn</ion-label>
            <ion-input [(ngModel)]="fight.timePerTurn" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">MaxTurns</ion-label>
            <ion-input [(ngModel)]="fight.maxTurnsPerStage" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">XP</ion-label>
            <ion-input [(ngModel)]="fight.xp" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Rec Level</ion-label>
            <ion-input [(ngModel)]="fight.level" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Asc Points</ion-label>
            <ion-input [(ngModel)]="fight.ascPoints" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label slot="start">Finishing Stage Config</ion-label>
        <ion-select [(ngModel)]="fight.stageConfig" [compareWith]="compareById">
          <ion-select-option *ngFor="let config of model.fightStageConfigs" [value]="config">{{config.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Fight environment</ion-label>
        <ion-select [(ngModel)]="fight.environment" [compareWith]="compareById">
          <ion-select-option *ngFor="let environment of model.fightEnvironments" [value]="environment">{{environment.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Loot</ion-label>
        <ion-select [(ngModel)]="fight.lootBox" [compareWith]="compareById">
          <ion-select-option *ngFor="let loot of model.lootBoxes" [value]="loot">{{loot.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="heroes">
    <ion-card-header>
      <ion-card-title>
        {{serviceAccount.name}}'s heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="scrollable-list">
        <hero-icon *ngFor="let hero of heroes" class="mr-2" [hero]="hero" [clickable]="true" (clicked)="selectHero(hero)" [selected]="hero.id == stage?.hero1?.id || hero.id == stage?.hero2?.id || hero.id == stage?.hero3?.id || hero.id == stage?.hero4?.id"></hero-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let fightStage of fight.stages" [class.background-grey]="fightStage.stage == stage?.stage">
    <ion-card-header>
      <ion-card-title>
        <div class="flex-space-between">
          Stage {{fightStage.stage}}
          <ion-icon *ngIf="fightStage.stage == fight.stages.length" name="trash" class="pointer" (click)="removeLastStage()"></ion-icon>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="pointer" (click)="selectStage(fightStage)">
      <ion-row>
        <ion-col sizeMd="3">
          <hero-icon [hero]="fightStage.hero1" [clickable]="true" (clicked)="fightStage.hero1 = null"></hero-icon>
        </ion-col>
        <ion-col sizeMd="3">
          <hero-icon [hero]="fightStage.hero2" [clickable]="true" (clicked)="fightStage.hero2 = null"></hero-icon>
        </ion-col>
        <ion-col sizeMd="3">
          <hero-icon [hero]="fightStage.hero3" [clickable]="true" (clicked)="fightStage.hero3 = null"></hero-icon>
        </ion-col>
        <ion-col sizeMd="3">
          <hero-icon [hero]="fightStage.hero4" [clickable]="true" (clicked)="fightStage.hero4 = null"></hero-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <div class="flex-center">
    <ion-button color="success" size="small" (click)="addStage()">Add Stage</ion-button>
  </div>
</ion-content>
