<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Fight Details{{fight ? ' - ' + fight.name : ''}}
        <div>
          <ion-button size="small" color="danger" (click)="testFight()">Test</ion-button>
          <ion-button size="small" color="medium" fill="clean" (click)="cancel()">Cancel</ion-button>
          <ion-button size="small" color="success" (click)="saveFight()">Save</ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/img/logo.png" alt=""></div>
<ion-content *ngIf="fight">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Name</ion-label>
            <ion-input [(ngModel)]="fight.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow ml-2 mr-2">
            <ion-label position="floating">Resource</ion-label>
            <ion-select [(ngModel)]="fight.resourceType">
              <ion-select-option *ngFor="let res of getResourceTypes()" [value]="res.name">{{res.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Costs</ion-label>
            <ion-input [(ngModel)]="fight.costs" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Level</ion-label>
            <ion-input [(ngModel)]="fight.level" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">XP</ion-label>
            <ion-input [(ngModel)]="fight.xp" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeXs="4" sizeSm="2">
          <ion-item class="flex-grow">
            <ion-label position="floating">Asc Points</ion-label>
            <ion-input [(ngModel)]="fight.ascPoints" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label slot="start">Finishing Stage Config</ion-label>
        <ion-select [(ngModel)]="fight.stageConfig" [compareWith]="compareById">
          <ion-select-option *ngFor="let config of model.fightStageConfigs" [value]="config">{{config.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Fight environment</ion-label>
        <ion-select [(ngModel)]="fight.environment" [compareWith]="compareById">
          <ion-select-option *ngFor="let environment of model.fightEnvironments" [value]="environment">{{environment.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Loot</ion-label>
        <ion-select [(ngModel)]="fight.lootBox" [compareWith]="compareById">
          <ion-select-option *ngFor="let loot of model.lootBoxes" [value]="loot">{{loot.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="heroes">
    <ion-card-header>
      <ion-card-title>
        {{serviceAccount.name}}'s heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="scrollable-list">
        <div *ngFor="let hero of heroes" (click)="selectHero(hero)" class="hero-tile-small border-grey flex-vert-center pointer mr-2">
          <ion-img [src]="'assets/img/chars/' + hero.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
          <div class="top-left-bubble level-bubble background-{{hero.heroBase.color}}">{{hero.level}}</div>
          <ion-img [src]="'assets/img/star_' + hero.stars + '.png'" class="hero-stars"></ion-img>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let fightStage of fight.stages" [class.background-grey]="stage && fightStage.stage == stage.stage">
    <ion-card-header>
      <ion-card-title>
        <div class="flex-space-between">
          Stage {{fightStage.stage}}
          <ion-icon *ngIf="fightStage.stage == fight.stages.length" name="trash" class="pointer" (click)="removeLastStage()"></ion-icon>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="pointer" (click)="selectStage(fightStage)">
      <ion-row>
        <ion-col sizeMd="3" *ngIf="fightStage.hero1">
          <div (click)="fightStage.hero1 = null" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fightStage.hero1.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fightStage.hero1.heroBase.color}}">{{fightStage.hero1.level}}</div>
            <ion-img [src]="'assets/img/star_' + fightStage.hero1.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="3" *ngIf="!fightStage.hero1">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="3" *ngIf="fightStage.hero2">
          <div (click)="fightStage.hero2 = null" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fightStage.hero2.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fightStage.hero2.heroBase.color}}">{{fightStage.hero2.level}}</div>
            <ion-img [src]="'assets/img/star_' + fightStage.hero2.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="3" *ngIf="!fightStage.hero2">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="3" *ngIf="fightStage.hero3">
          <div (click)="fightStage.hero3 = null" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fightStage.hero3.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fightStage.hero3.heroBase.color}}">{{fightStage.hero3.level}}</div>
            <ion-img [src]="'assets/img/star_' + fightStage.hero3.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="3" *ngIf="!fightStage.hero3">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="3" *ngIf="fightStage.hero4">
          <div (click)="fightStage.hero4 = null" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fightStage.hero4.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fightStage.hero4.heroBase.color}}">{{fightStage.hero4.level}}</div>
            <ion-img [src]="'assets/img/star_' + fightStage.hero4.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="3" *ngIf="!fightStage.hero4">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <div class="flex-center">
    <ion-button color="success" size="small" (click)="addStage()">Add Stage</ion-button>
  </div>
</ion-content>
