<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Fights
        <div class="flex font-small">
          <ion-select [(ngModel)]="serviceAccount" placeholder="select service account">
            <ion-select-option *ngFor="let serviceAcc of model.serviceAccounts" [value]="serviceAcc">{{serviceAcc.name}}</ion-select-option>
          </ion-select>
          <ion-button color="success" size="small" (click)="newFight()" [disabled]="!serviceAccount">New Fight</ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/img/logo.png" alt="" class="logo"></div>
<ion-content *ngIf="model.fights">
  <ion-list>
    <ion-item *ngFor="let fight of model.fights" (click)="gotoFightDetails(fight)" detail class="pointer">
      <ion-label>{{fight.name}} - {{fight.stages.length}} stages</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
