<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between scrollable-vert">
        <div class="position-relative pointer" (click)="openUpgradeModal()">
          Laboratory L{{buildingService.getBuilding(buildingType).level}}
          <div class="upgrade-bubble {{buildingService.getUpgradeCss(buildingType)}}">!</div>
        </div>
        <div class="flex-center">
          <img class="ml-05 mr-05 resource-icon pointer" src="assets/icon/info.png" (click)="showUpgradeInfo()">
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="loading-indicator" *ngIf="hero && model.getHeroBase(hero.heroBaseId) as heroBase" (click)="hero = null">
  <div class="loot-window pa-2">
    <div class="flex-center">You received</div>
    <div class="flex-center mt-1">
      <div class="flex-vert-center">
        <div class="hero-tile-very-small border-grey flex-vert-center loot-item">
          <ion-img [src]="'assets/icon/chars/' + heroBase.avatar + '.png'" class="hero-avatar-very-small border-bottom-grey"></ion-img>
          <ion-img [src]="'assets/img/star_' + hero.stars + '.png'" class="hero-stars"></ion-img>
        </div>
        <div>{{heroBase.name}}</div>
      </div>
    </div>
    <div class="flex-center mt-1"><i>(click anywhere to close)</i></div>
  </div>
</div>

<looted></looted>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div class="flex-space-between">
          <div>Your incubators</div>
          <div class="font-small">{{model.incubators.length}} / {{model.progress.incubators}} incubators in use</div>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flex">
        <div *ngFor="let incubator of model.incubators" class="flex-vert-center position-relative border-grey pt-1 pl-2 pr-2 mr-3 pointer" (click)="finishIncubation(incubator)">
          <img src="assets/icon/resources/{{incubator.type}}.png" class="resource-icon-large">
          <div *ngIf="incubator.secondsUntilDone > 0">{{converter.time(incubator.secondsUntilDone)}}</div>
          <div *ngIf="incubator.secondsUntilDone <= 0">done</div>
          <div *ngIf="incubator.secondsUntilDone <= 0" class="avatar-bubble alert">!</div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Genomes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col sizeMd="2" class="flex-center ion-hide-md-down">
          <ion-img src="assets/icon/resources/SIMPLE_GENOME.png" class="large-icon"></ion-img>
        </ion-col>
        <ion-col sizeXs="2" class="flex-center ion-hide-md-up">
          <ion-img src="assets/icon/resources/SIMPLE_GENOME.png" class="medium-icon"></ion-img>
        </ion-col>
        <ion-col sizeMd="6" class="ion-hide-md-down">
          Incubating <b>Simple Genomes</b> will clone a simple (1*) hero.{{model.progress.simpleIncubationUpPerMil > 0 ? ' ' + perMilToPercent(model.progress.simpleIncubationUpPerMil) + ' chance to clone a common (2*) hero.' : ''}}
        </ion-col>
        <ion-col sizeMd="6" class="flex-start ion-hide-md-up">
          <b>Simple</b> <img src="assets/icon/info.png" class="resource-icon pointer ml-05" (click)="info('Incubating Simple Genomes will clone a simple (1*) hero.' + (model.progress.simpleIncubationUpPerMil > 0 ? ' ' + perMilToPercent(model.progress.simpleIncubationUpPerMil) + ' chance to clone a common (2*) hero.' : ''))">
        </ion-col>
        <ion-col sizeMd="2" class="flex-end">
          <div class="bold flex-center">
            <span [class.color-red]="!hasEnoughGenomes('SIMPLE_GENOME')">{{model.resources.simpleGenome}}</span>&nbsp;/&nbsp;{{genomesNeeded('SIMPLE_GENOME')}}<ion-img src="assets/icon/resources/SIMPLE_GENOME.png" class="resource-icon"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" class="flex-center">
          <ion-button color="success" size="small" (click)="clone('SIMPLE_GENOME')" [disabled]="saving || !canStartCloning('SIMPLE_GENOME')">{{incubationtime('SIMPLE_GENOME')}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="2" class="flex-center ion-hide-md-down">
          <ion-img src="assets/icon/resources/COMMON_GENOME.png" class="large-icon"></ion-img>
        </ion-col>
        <ion-col sizeXs="2" class="flex-center ion-hide-md-up">
          <ion-img src="assets/icon/resources/COMMON_GENOME.png" class="medium-icon"></ion-img>
        </ion-col>
        <ion-col sizeMd="6" class="ion-hide-md-down">
          Incubating <b>Common Genomes</b> will clone a common (2*) hero.{{model.progress.commonIncubationUpPerMil > 0 ? ' ' + perMilToPercent(model.progress.commonIncubationUpPerMil) + ' chance to clone an uncommon (3*) hero.' : ''}}
        </ion-col>
        <ion-col sizeMd="6" class="flex-start ion-hide-md-up">
          <b>Common</b> <img src="assets/icon/info.png" class="resource-icon pointer ml-05" (click)="info('Incubating Common Genomes will clone a common (2*) hero.' + (model.progress.commonIncubationUpPerMil > 0 ? ' ' + perMilToPercent(model.progress.commonIncubationUpPerMil) + ' chance to clone an uncommon (3*) hero.' : ''))">
        </ion-col>
        <ion-col sizeMd="2" class="flex-end">
          <div class="bold flex-center">
            <span [class.color-red]="!hasEnoughGenomes('COMMON_GENOME')">{{model.resources.commonGenome}}</span>&nbsp;/&nbsp;{{genomesNeeded('COMMON_GENOME')}}<ion-img src="assets/icon/resources/COMMON_GENOME.png" class="resource-icon"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" class="flex-center">
          <ion-button color="success" size="small" (click)="clone('COMMON_GENOME')" [disabled]="saving || !canStartCloning('COMMON_GENOME')">{{incubationtime('COMMON_GENOME')}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="2" class="flex-center ion-hide-md-down">
          <ion-img src="assets/icon/resources/UNCOMMON_GENOME.png" class="large-icon"></ion-img>
        </ion-col>
        <ion-col sizeXs="2" class="flex-center ion-hide-md-up">
          <ion-img src="assets/icon/resources/UNCOMMON_GENOME.png" class="medium-icon"></ion-img>
        </ion-col>
        <ion-col sizeMd="6" class="ion-hide-md-down">
          Incubating <b>Uncommon Genomes</b> will clone a uncommon (3*) hero.{{model.progress.uncommonIncubationUpPerMil > 0 ? ' ' + perMilToPercent(model.progress.uncommonIncubationUpPerMil) + ' chance to clone a rare (4*) hero.' : ''}}
        </ion-col>
        <ion-col sizeMd="6" class="flex-start ion-hide-md-up">
          <b>Uncommon</b> <img src="assets/icon/info.png" class="resource-icon pointer ml-05" (click)="info('Incubating Uncommon Genomes will clone a uncommon (3*) hero.' + (model.progress.uncommonIncubationUpPerMil > 0 ? ' ' + perMilToPercent(model.progress.uncommonIncubationUpPerMil) + ' chance to clone a rare (4*) hero.' : ''))">
        </ion-col>
        <ion-col sizeMd="2" class="flex-end">
          <div class="bold flex-center">
            <span [class.color-red]="!hasEnoughGenomes('UNCOMMON_GENOME')">{{model.resources.uncommonGenome}}</span>&nbsp;/&nbsp;{{genomesNeeded('UNCOMMON_GENOME')}}<ion-img src="assets/icon/resources/UNCOMMON_GENOME.png" class="resource-icon"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" class="flex-center">
          <ion-button color="success" size="small" (click)="clone('UNCOMMON_GENOME')" [disabled]="saving || !canStartCloning('UNCOMMON_GENOME')">{{incubationtime('UNCOMMON_GENOME')}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="2" class="flex-center ion-hide-md-down">
          <ion-img src="assets/icon/resources/RARE_GENOME.png" class="large-icon"></ion-img>
        </ion-col>
        <ion-col sizeXs="2" class="flex-center ion-hide-md-up">
          <ion-img src="assets/icon/resources/RARE_GENOME.png" class="medium-icon"></ion-img>
        </ion-col>
        <ion-col sizeMd="6" class="ion-hide-md-down">
          Incubating <b>Rare Genomes</b> will clone a rare (4*) hero.{{model.progress.rareIncubationUpPerMil > 0 ? ' ' + perMilToPercent(model.progress.rareIncubationUpPerMil) + ' chance to clone an epic (5*) hero.' : ''}}
        </ion-col>
        <ion-col sizeMd="6" class="flex-start ion-hide-md-up">
          <b>Rare</b> <img src="assets/icon/info.png" class="resource-icon pointer ml-05" (click)="info('Incubating Rare Genomes will clone a rare (4*) hero.' + (model.progress.rareIncubationUpPerMil > 0 ? ' ' + perMilToPercent(model.progress.rareIncubationUpPerMil) + ' chance to clone an epic (5*) hero.' : ''))">
        </ion-col>
        <ion-col sizeMd="2" class="flex-end">
          <div class="bold flex-center">
            <span [class.color-red]="!hasEnoughGenomes('RARE_GENOME')">{{model.resources.rareGenome}}</span>&nbsp;/&nbsp;{{genomesNeeded('RARE_GENOME')}}<ion-img src="assets/icon/resources/RARE_GENOME.png" class="resource-icon"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" class="flex-center">
          <ion-button color="success" size="small" (click)="clone('RARE_GENOME')" [disabled]="saving || !canStartCloning('RARE_GENOME')">{{incubationtime('RARE_GENOME')}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="2" class="flex-center ion-hide-md-down">
          <ion-img src="assets/icon/resources/EPIC_GENOME.png" class="large-icon"></ion-img>
        </ion-col>
        <ion-col sizeXs="2" class="flex-center ion-hide-md-up">
          <ion-img src="assets/icon/resources/EPIC_GENOME.png" class="medium-icon"></ion-img>
        </ion-col>
        <ion-col sizeMd="6" class="ion-hide-md-down">
          Incubating <b>Epic Genomes</b> will clone a epic (5*) hero.
        </ion-col>
        <ion-col sizeMd="6" class="flex-start ion-hide-md-up">
          <b>Epic</b> <img src="assets/icon/info.png" class="resource-icon pointer ml-05" (click)="info('Incubating Epic Genomes will clone a epic (5*) hero.')">
        </ion-col>
        <ion-col sizeMd="2" class="flex-end">
          <div class="bold flex-center">
            <span [class.color-red]="!hasEnoughGenomes('EPIC_GENOME')">{{model.resources.epicGenome}}</span>&nbsp;/&nbsp;{{genomesNeeded('EPIC_GENOME')}}<ion-img src="assets/icon/resources/EPIC_GENOME.png" class="resource-icon"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" class="flex-center">
          <ion-button color="success" size="small" (click)="clone('EPIC_GENOME')" [disabled]="saving || !canStartCloning('EPIC_GENOME')">{{incubationtime('EPIC_GENOME')}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
