<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ongoing Battle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!battle">
  There is currently no battle going on
</ion-content>

<ion-content *ngIf="battle">
  <ion-card>
    <ion-card-header>
      <ion-card-title>#{{battle.playerId}} vs #{{battle.opponentId}} <span *ngIf="battle.status === 'WON'">You won</span><span *ngIf="battle.status === 'LOST'">You lost</span></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="flex-space-around">
        <battlefield-hero [battle]="battle" [hero]="battle.oppHero1" [targetable]="selectable(battle.oppHero1)" (selected)="selectTarget($event)"></battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.oppHero2" [targetable]="selectable(battle.oppHero2)" (selected)="selectTarget($event)"></battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.oppHero3" [targetable]="selectable(battle.oppHero3)" (selected)="selectTarget($event)"></battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.oppHero4" [targetable]="selectable(battle.oppHero4)" (selected)="selectTarget($event)"></battlefield-hero>
      </ion-row>
      <ion-row class="mt-4 flex-space-around">
        <battlefield-hero [battle]="battle" [hero]="battle.hero1" [targetable]="selectable(battle.hero1)" (selected)="selectTarget($event)"></battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.hero2" [targetable]="selectable(battle.hero2)" (selected)="selectTarget($event)"></battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.hero3" [targetable]="selectable(battle.hero3)" (selected)="selectTarget($event)"></battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.hero4" [targetable]="selectable(battle.hero4)" (selected)="selectTarget($event)"></battlefield-hero>
      </ion-row>
      <ion-row *ngIf="activeHero" class="mt-4 flex-space-around">
        <ion-button *ngFor="let skill of getSkills()" [fill]="skill == selectedSkill ? 'solid' : 'outline'" (click)="selectSkill(skill)" [disabled]="skill.number != 1 && activeHero['skill' + skill.number + 'Cooldown'] > 0">
          <i class="ra ra-battered-axe" *ngIf="skill.target == 'OPPONENT'"></i> {{skill.name}}{{skill.number != 1 && activeHero['skill' + skill.number + 'Cooldown'] > 0 ? '(' + activeHero['skill' + skill.number + 'Cooldown'] + ')' : ''}}
        </ion-button>
      </ion-row>
      <ion-row *ngIf="selectedSkill" class="flex-space-around">{{selectedSkill.description}}</ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let step of steps">
        <div class="flex-vert">
          <div [class.strong]="lastKnownTurn < step.turn" (click)="step.expanded = !step.expanded">{{step.turn}}. {{step.actingHero}} used S{{step.usedSkill}} on {{step.target}}</div>
          <div *ngIf="step.expanded">
            <div *ngFor="let action of step.actions">
              <div *ngIf="action.buff && !action.buffResisted">{{action.heroPosition}} got {{action.buffIntensity}}* {{action.buff}} for {{action.buffDuration}} turns</div>
              <div *ngIf="action.buff && action.buffResisted">{{action.heroPosition}} resisted {{action.buffIntensity}}* {{action.buff}}</div>
              <div *ngIf="!action.buff">{{action.heroPosition}}: <i [class.RED]="action.healthDiff < 0" [class.GREEN]="action.healthDiff > 0">{{action.healthDiff}}</i> health, <i [class.RED]="action.armorDiff < 0" [class.GREEN]="action.armorDiff > 0">{{action.armorDiff}}</i> armor </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
