.container {
  position: relative;
  width: 120px;
  max-width: 20vw;
  height: 120px;
  max-height: 20vw;
  border: 1px solid black;

  &.container-empty {
    border-color: #d6d6d6;
  }

  &.container-active {
    background-color: rgba(44, 195, 195, 0.5);
    border: 0;
    box-shadow: 0 0 0 1px #dcb717, 0 0 0 2px #000000, 0 0 0 4px #dcb717;
  }

  &.container-dead {
    border-width: 2px;
    border-color: #9c0c14;
  }

  &.container-targetable {
    box-shadow: 0 0 0 1px #000000, 0 0 0 3px #3e8011;
    border: 0;
    cursor: pointer;
  }
}

.bars {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
}

.health-bar {
  border: 1px solid #06a042;
  background-color: #c0ead1;
  position: relative;
  height: 8px;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  .health-bar-inner {
    background-color: #1ec35f;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
  }
}
.armor-bar {
  border: 1px solid #0d4fc1;
  background-color: #b8c5f7;
  position: relative;
  height: 6px;
  overflow: hidden;
  //border-bottom-left-radius: 2px;
  //border-bottom-right-radius: 2px;
  .armor-bar-inner {
    background-color: #387aef;
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
  }
}
.speedbar {
  height: 3px;
  background-color: #e0b516;
}

.buffs {
  position: absolute;
  top: 13%;
  left: 0;
  font-size: 0.7em;
  display: flex;
  flex-wrap: wrap;
  .buff {
    width: 18px;
    height: 18px;
    margin-right: 2px;
    position: relative;
    .buff-icon {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .buff-duration {
    position: absolute;
    bottom: 0;
    right: 2px;
    color: black;
    font-weight: 600;
  }
}

.death-skull {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4em;
  background-color: rgba(167,4,4,0.2);
  color: #e8dcbe;
}