<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ongoing Battle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!battle">
  There is currently no battle going on
</ion-content>

<ion-content *ngIf="battle" class="loading-indicator-boundary">
  <ion-card>
    <div *ngIf="loading" class="loading-indicator"><img src="assets/img/logo.png" alt=""></div>
    <div *ngIf="!animateStep && battle.status == 'STAGE_PASSED'" class="loading-indicator flex-center">
      <div class="color-white font-large bold">Stage {{battle.fightStage}} cleared</div>
    </div>
    <div *ngIf="!animateStep && (battle.status == 'LOST' || battle.status == 'WON')" class="loading-indicator flex-center pointer" (click)="leaveBattle()">
      <div class="color-white font-large bold">You {{battle.status}}</div>
    </div>
    <ion-card-header class="flex-space-between">
      <ion-card-title>{{battle.playerName}}#{{battle.playerId}} vs {{battle.opponentName}}{{battle.opponentId ? '#' + battle.opponentId : ''}}</ion-card-title>
      <ion-button [disabled]="animateStep || battle.status != 'PLAYER_TURN'" (click)="surrender()">Surrender</ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="flex-space-around">
        <battlefield-hero [battle]="battle" [hero]="battle.oppHero1" [heroState]="getAnimationHeroState('OPP1')" [active]="isActive(battle.oppHero1)" [targetable]="selectable(battle.oppHero1)" (selected)="selectTarget($event)">
            <img *ngIf="showExplosion('OPP1')" class="effect explosion" src="assets/img/explosion.png">
            <div class="effect">
                <div *ngFor="let number of getAnimateNumbers('OPP1'); let i = index" class = "effect-{{i}} fadeOutUp {{number.css}}">{{number.number}}</div>
            </div>
        </battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.oppHero2" [heroState]="getAnimationHeroState('OPP2')" [active]="isActive(battle.oppHero2)" [targetable]="selectable(battle.oppHero2)" (selected)="selectTarget($event)">
            <img *ngIf="showExplosion('OPP2')" class="effect explosion" src="assets/img/explosion.png">
            <div class="effect">
                <div *ngFor="let number of getAnimateNumbers('OPP2'); let i = index" class = "effect-{{i}} fadeOutUp {{number.css}}">{{number.number}}</div>
            </div>
        </battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.oppHero3" [heroState]="getAnimationHeroState('OPP3')" [active]="isActive(battle.oppHero3)" [targetable]="selectable(battle.oppHero3)" (selected)="selectTarget($event)">
            <img *ngIf="showExplosion('OPP3')" class="effect explosion" src="assets/img/explosion.png">
            <div class="effect">
                <div *ngFor="let number of getAnimateNumbers('OPP3'); let i = index" class = "effect-{{i}} fadeOutUp {{number.css}}">{{number.number}}</div>
            </div>
        </battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.oppHero4" [heroState]="getAnimationHeroState('OPP4')" [active]="isActive(battle.oppHero4)" [targetable]="selectable(battle.oppHero4)" (selected)="selectTarget($event)">
            <img *ngIf="showExplosion('OPP4')" class="effect explosion" src="assets/img/explosion.png">
            <div class="effect">
                <div *ngFor="let number of getAnimateNumbers('OPP4'); let i = index" class = "effect-{{i}} fadeOutUp {{number.css}}">{{number.number}}</div>
            </div>
        </battlefield-hero>
      </ion-row>
      <ion-row class="mt-4 flex-space-around">
        <battlefield-hero [battle]="battle" [hero]="battle.hero1" [heroState]="getAnimationHeroState('HERO1')" [active]="isActive(battle.hero1)" [targetable]="selectable(battle.hero1)" (selected)="selectTarget($event)">
            <img *ngIf="showExplosion('HERO1')" class="effect explosion" src="assets/img/explosion.png">
            <div class="effect">
                <div *ngFor="let number of getAnimateNumbers('HERO1'); let i = index" class = "effect-{{i}} fadeOutUp {{number.css}}">{{number.number}}</div>
            </div>
        </battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.hero2" [heroState]="getAnimationHeroState('HERO2')" [active]="isActive(battle.hero2)" [targetable]="selectable(battle.hero2)" (selected)="selectTarget($event)">
            <img *ngIf="showExplosion('HERO2')" class="effect explosion" src="assets/img/explosion.png">
            <div class="effect">
                <div *ngFor="let number of getAnimateNumbers('HERO2'); let i = index" class = "effect-{{i}} fadeOutUp {{number.css}}">{{number.number}}</div>
            </div>
        </battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.hero3" [heroState]="getAnimationHeroState('HERO3')" [active]="isActive(battle.hero3)" [targetable]="selectable(battle.hero3)" (selected)="selectTarget($event)">
            <img *ngIf="showExplosion('HERO3')" class="effect explosion" src="assets/img/explosion.png">
            <div class="effect">
                <div *ngFor="let number of getAnimateNumbers('HERO3'); let i = index" class = "effect-{{i}} fadeOutUp {{number.css}}">{{number.number}}</div>
            </div>
        </battlefield-hero>
        <battlefield-hero [battle]="battle" [hero]="battle.hero4" [heroState]="getAnimationHeroState('HERO4')" [active]="isActive(battle.hero4)" [targetable]="selectable(battle.hero4)" (selected)="selectTarget($event)">
            <img *ngIf="showExplosion('HERO4')" class="effect explosion" src="assets/img/explosion.png">
            <div class="effect">
                <div *ngFor="let number of getAnimateNumbers('HERO4'); let i = index" class = "effect-{{i}} fadeOutUp {{number.css}}">{{number.number}}</div>
            </div>
        </battlefield-hero>
      </ion-row>
      <ion-row *ngIf="activeHero" class="mt-4 flex-space-around">
        <ion-button fill="clear" (click)="toggleAutobattle()" [color]="autobattle? 'success' : 'dark'">Autobattle {{autobattle? 'on' : 'off'}}</ion-button>
        <div class="flex-grow">&nbsp;</div>
        <div *ngFor="let skill of getSkills()" class="skill_icon_tile ml-2 pointer" (click)="selectSkill(skill)">
          <ion-img [src]="'assets/img/skills/' + skill.icon + '.png'" class="skill_icon" [class.skill_selected]="skill == selectedSkill"></ion-img>
          <i *ngIf="skill.passive" class="skill_passive">p</i>
          <div *ngIf="activeHero['skill' + skill.number + 'Cooldown'] > 0" class="locked"><ion-icon name="lock"></ion-icon></div>
          <div *ngIf="activeHero['skill' + skill.number + 'Cooldown'] > 0" class="skill_cooldown">{{activeHero['skill' + skill.number + 'Cooldown']}}</div>
        </div>
      </ion-row>
        <ion-row *ngIf="selectedSkill" class="flex-space-around"><strong>{{selectedSkill.name}}:</strong><i *ngIf="selectedSkill.passive">passive</i><i *ngIf="activeHero['skill' + selectedSkill.number + 'Cooldown'] > 0">usable in {{activeHero['skill' + selectedSkill.number + 'Cooldown']}} turn(s)</i> {{selectedSkill.description}}</ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list>
      <div class="flex-vert-reverse">
        <div *ngFor="let step of battle.steps; let i = index" class="hover-grey">
          <div *ngIf="!animateStep || i <= animationStepIdx" class="flex-vert ma-2">
            <div class="color-black flex-space-between">
              <div class="pointer" [class.RED]="animateStep && i == animationStepIdx" [class.strong]="lastKnownStepIdx < i" *ngIf="step.phase == 'MAIN'" (click)="step.expanded = !step.expanded">{{step.turn}}. {{step.actingHeroName}}({{step.actingHero}}) used {{step.usedSkillName}}(S{{step.usedSkill}}) on {{step.targetName}}({{step.target}})</div>
              <div class="pointer" [class.RED]="animateStep && i == animationStepIdx" [class.strong]="lastKnownStepIdx < i" *ngIf="step.phase == 'A_PRE_TURN'" (click)="step.expanded = !step.expanded">{{step.turn}}. init {{step.actingHeroName}}({{step.actingHero}})'s turn</div>
              <div class="pointer" [class.RED]="animateStep && i == animationStepIdx" [class.strong]="lastKnownStepIdx < i" *ngIf="step.phase == 'PASSIVE'" (click)="step.expanded = !step.expanded">{{step.turn}}. {{step.actingHeroName}}({{step.actingHero}})'s passive {{step.usedSkillName}}(S{{step.usedSkill}}) triggered</div>
              <div class="pointer" [class.RED]="animateStep && i == animationStepIdx" [class.strong]="lastKnownStepIdx < i" *ngIf="step.phase == 'Z_COUNTER'" (click)="step.expanded = !step.expanded">{{step.turn}}. {{step.actingHeroName}}({{step.actingHero}}) counters {{step.targetName}}({{step.target}})</div>
              <div class="pointer" (click)="replay(i)">Replay from here</div>
            </div>
            <div *ngIf="step.expanded">
              <div *ngFor="let action of step.actions">
                <div *ngIf="action.type == 'DAMAGE'">{{action.heroName}}({{action.heroPosition}}): <i class="RED">{{action.healthDiff}}</i> health, <i class="RED">{{action.armorDiff}}</i> armor{{action.shieldAbsorb? ', shield absorbed ' + action.shieldAbsorb + ' base damage' : ''}}, {{action.crit ? (action.superCrit ? 'SUPER_CRIT, ' : 'CRIT, ') : ''}}{{action.baseDamage}} base damage, {{action.targetArmor}} target armor before, {{action.targetHealth}} target HP before</div>
                <div *ngIf="action.type == 'DODGED'">{{action.heroName}}({{action.heroPosition}}) dodged and received no damage</div>
                <div *ngIf="action.type == 'HEALING'">{{action.heroName}}({{action.heroPosition}}): <i class="GREEN">{{action.healthDiff}}</i> health</div>
                <div *ngIf="action.type == 'BUFF'">{{action.heroName}}({{action.heroPosition}}) got {{action.buffIntensity}}* {{action.buff}} for {{action.buffDuration}} turns</div>
                <div *ngIf="action.type == 'BLOCKED'">{{action.heroName}}({{action.heroPosition}}) resisted {{action.buffIntensity}}* {{action.buff}}</div>
                <div *ngIf="action.type == 'BUFF_CLEANED'">{{action.heroName}}({{action.heroPosition}}) got {{action.buff}} cleaned</div>
                <div *ngIf="action.type == 'DOT'">{{action.heroName}}({{action.heroPosition}}): damage per turn <i class="RED">{{action.healthDiff}}</i> health</div>
                <div *ngIf="action.type == 'HOT'">{{action.heroName}}({{action.heroPosition}}): healing per turn <i class="GREEN">{{action.healthDiff}}</i> health</div>
                <div *ngIf="action.type == 'DEAD'">{{action.heroName}}({{action.heroPosition}}) died</div>
                <div *ngIf="action.type == 'RESURRECTED'">{{action.heroName}}({{action.heroPosition}}) resurrected with {{action.healthDiff}} HP</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-card>

</ion-content>
