<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        <div class="flex-center">
          Forge - Level {{getBuilding().level}}
          <ion-button class="ml-2" *ngIf="canUpgradeBuilding()" size="small" color="success" (click)="openBuildingUpgradeModal()">{{getBuilding().upgradeTriggered ? 'In progress' : 'Upgrade'}}</ion-button>
        </div>
        <div class="flex-center">
          <div class="font-small">Modify Lvl {{model.progress.gearModificationRarity}}, Breakdown Lvl {{model.progress.gearBreakDownRarity}}</div>
          <ion-button size="small" fill="clear" color="dark" (click)="showStory()">
            <i class="ra ra-book font-larger"></i>
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/icon/logo.png" alt="" class="logo"></div>
<looted></looted>
<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="flex">
        <div class="width-60">Quality</div>
        <div class="flex-space-between flex-grow">
          <div *ngFor="let qual of allQualities" class="pointer" [class.text-selected]="qualities.indexOf(qual) != -1" (click)="toggleQuality(qual)">{{converter.readableIdentifier(qual)}}</div>
        </div>
      </div>
      <div class="mt-2 flex">
        <div class="width-60">Sets</div>
        <div class="flex-space-between flex-grow">
          <img *ngFor="let set of enumService.getGearSets()" src="assets/icon/gear/{{set}}.png" (click)="toggleSet(set)" class="medium-icon pointer" [class.small-icon-selected]="sets.indexOf(set) >= 0">
        </div>
      </div>
      <div class="mt-2 flex">
        <div class="width-60">Stars</div>
        <div class="flex-space-between flex-grow">
          <div class="pointer" [class.text-selected]="showSimple" (click)="showSimple = !showSimple">Simple</div>
          <div class="pointer" [class.text-selected]="showCommon" (click)="showCommon = !showCommon">Common</div>
          <div class="pointer" [class.text-selected]="showUncommon" (click)="showUncommon = !showUncommon">Uncommon</div>
          <div class="pointer" [class.text-selected]="showRare" (click)="showRare = !showRare">Rare</div>
          <div class="pointer" [class.text-selected]="showEpic" (click)="showEpic = !showEpic">Epic</div>
          <div class="pointer" [class.text-selected]="showLegendary" (click)="showLegendary = !showLegendary">Legendary</div>
        </div>
      </div>
      <div class="mt-2 flex-end">
        <ion-button [fill]="gearForBreakdown().length == 0 ? 'outline' : 'solid'" size="small" color="danger" (click)="breakdown()" [disabled]="saving || gearForBreakdown().length == 0"><span *ngIf="gearForBreakdown().length > 0">
          {{gearForBreakdown().length}}x </span><ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button fill="outline" size="small" color="danger" (click)="markAllForBreakdown()">Mark all</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item *ngFor="let gear of getGear()">
        <div class="full-width flex-space-between">
          <gear-icon [gear]="gear" [type]="gear.type" (click)="showGearDetails(gear)" [class.pointer]="!gear.modificationInProgress"></gear-icon>
          <div class="ml-2 flex-vert gear-text flex-grow font-small">
            <div>
              {{converter.readableIdentifier(gear.gearQuality)}}
              {{converter.readableIdentifier(gear.type)}}
              <i>({{converter.readableIdentifier(gear.set)}})</i>
            </div>
            <div class="flex">
              <gear-stat [stat]="gear.stat" [value]="gear.statValue"></gear-stat>&nbsp;<i *ngIf="gear.modificationPerformed">(modified)</i>
            </div>
          </div>
          <div *ngIf="converter.rarityStars(gear.rarity) > model.progress.gearModificationRarity && converter.rarityStars(gear.rarity) > model.progress.gearBreakDownRarity">
            <i class="font-small color-grey">Upgrade Forge to modify or breakdown this piece</i>
          </div>
          <div *ngIf="converter.rarityStars(gear.rarity) > model.progress.gearModificationRarity && converter.rarityStars(gear.rarity) <= model.progress.gearBreakDownRarity">
            <i class="font-small color-grey">Upgrade Forge to modify this piece</i>
          </div>
          <div *ngIf="model.progress.gearModificationRarity >= converter.rarityStars(gear.rarity) && !gear.modificationInProgress">
            <ion-button fill="none" color="secondary" (click)="modificationSelection(gear, $event)" [disabled]="saving">Modify</ion-button>
          </div>
          <div *ngIf="gear.modificationInProgress">
            <ion-button (click)="openUpgradeModal()" [disabled]="saving">Modifying</ion-button>
          </div>
          <ion-button *ngIf="converter.rarityStars(gear.rarity) <= model.progress.gearBreakDownRarity" [fill]="gear.markedToBreakdown ? 'outline' : 'clear'" color="danger" (click)="gear.markedToBreakdown = !gear.markedToBreakdown" [disabled]="saving || gear.modificationInProgress">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <div *ngIf="converter.rarityStars(gear.rarity) <= model.progress.gearModificationRarity && converter.rarityStars(gear.rarity) > model.progress.gearBreakDownRarity">
            <i class="font-small color-grey">Upgrade Forge to breakdown this piece</i>
          </div>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
