<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Map {{map ? map.name + ' ' + (map.maxX - map.minX + 1) + 'x' + (map.maxY - map.minY + 1) : ''}}
        <div>
          <ion-button color="medium" fill="clean" (click)="cancel()">Cancel</ion-button>
          <ion-button color="success" (click)="save()">Save</ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/icon/logo.png" alt="" class="logo"></div>
<ion-content *ngIf="map">
  <ion-card>
    <ion-card-content>
      <div class="flex-space-between">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="map.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Discovery costs</ion-label>
          <ion-input type="number" [(ngModel)]="map.discoverySteamCost"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select [(ngModel)]="map.type">
            <ion-select-option *ngFor="let type of enumService.adminEnums.mapTypes" [value]="type">{{converter.readableIdentifier(type)}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Story</ion-label>
          <ion-select [(ngModel)]="map.storyTrigger">
            <ion-select-option [value]="null">NONE</ion-select-option>
            <ion-select-option *ngFor="let storyTrigger of enumService.adminEnums.storyTriggers" [value]="storyTrigger">{{converter.readableIdentifier(storyTrigger)}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Starting Map</ion-label>
          <ion-checkbox [(ngModel)]="map.startingMap" [disabled]="isCurrentStartingMap" slot="start"></ion-checkbox>
        </ion-item>
      </div>
      <div class="flex-space-between">
        <ion-item>
          <ion-label>Reset Hours</ion-label>
          <ion-input [(ngModel)]="map.resetIntervalHours" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Reset Start</ion-label>
          <ion-datetime [(ngModel)]="map.intervalFrom" [disabled]="!map.resetIntervalHours" placeholder="select" displayFormat="YYYY-MM-DD HH:mm" [yearValues]="possibleYears()" minuteValues="0,30"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Next Reset</ion-label>
          <ion-datetime [(ngModel)]="map.intervalTo" [disabled]="!map.resetIntervalHours || !map.intervalTo" placeholder="select" displayFormat="YYYY-MM-DD HH:mm" [yearValues]="possibleYears()" minuteValues="0,30"></ion-datetime>
        </ion-item>
      </div>
      <div class="flex">
        <div class="flex-grow">
          <ion-item>
            <ion-label>Background</ion-label>
            <ion-select [(ngModel)]="map.background">
              <ion-select-option *ngFor="let bg of enumService.getMapBackgrounds()" [value]="bg">{{bg}}</ion-select-option>
            </ion-select>
          </ion-item>
          <img src="/assets/img/backgrounds/{{map.background}}.png" class="sample-bg-img">
        </div>
        <div>
          <ion-item lines="none">
            <ion-button color="success" (click)="addTopRow()">+ top row</ion-button>
            <ion-button color="success" (click)="addBottomRow()">+ bottom row</ion-button>
          </ion-item>
          <ion-item>
            <ion-button color="danger" (click)="removeTopRow()">- top row</ion-button>
            <ion-button color="danger" (click)="removeBottomRow()">- bottom row</ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-button color="success" (click)="addLeftColumn()">+ left col</ion-button>
            <ion-button color="success" (click)="addRightColumn()">+ right col</ion-button>
          </ion-item>
          <ion-item>
            <ion-button color="danger" (click)="removeLeftColumn()">- left col</ion-button>
            <ion-button color="danger" (click)="removeRightColumn()">- right col</ion-button>
          </ion-item>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="tile">
    <ion-card-header>
      <ion-card-title>Tile {{tile.posX}}x{{tile.posY}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flex-start">
        <ion-item>
          <ion-label>Always Revealed</ion-label>
          <ion-checkbox [(ngModel)]="tile.alwaysRevealed" slot="start"></ion-checkbox>
        </ion-item>
      </div>
      <div class="mt-2 mb-2 flex-space-between">
        <ion-img *ngFor="let mapType of enumService.getMapTileTypes()" src="assets/icon/map/tiles/{{mapType}}.png" class="pointer tile-selection" (click)="tile.type = mapType" [class.selected]="tile.type == mapType"></ion-img>
      </div>
      <div class="flex-space-between">
        <ion-item class="flex-grow">
          <ion-label>Fight Repeatable</ion-label>
          <ion-checkbox [(ngModel)]="tile.fightRepeatable" slot="start"></ion-checkbox>
        </ion-item>
        <ion-item class="flex-grow">
          <ion-label>Icon</ion-label>
          <ion-select [(ngModel)]="tile.fightIcon" placeholder="select" [required]="!!tile.fightId" (ionChange)="fightIconChanged()">
            <ion-select-option [value]="null">NONE</ion-select-option>
            <ion-select-option *ngFor="let icon of enumService.getMapTileFightIcons()" [value]="icon">{{icon}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="flex-grow">
          <ion-label>Fight</ion-label>
          <ion-select [(ngModel)]="tile.fightId" placeholder="select" [required]="tile.fightIcon" (ionChange)="fightChanged()">
            <ion-select-option [value]="null">NONE</ion-select-option>
            <ion-select-option *ngFor="let fight of model.fights" [value]="fight.id">{{fight.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="flex">
        <ion-radio-group [(ngModel)]="tileStructureType" (ionChange)="structureTypeChanged()">
          <div class="flex-space-between">
            <ion-item>
              <ion-label>None</ion-label>
              <ion-radio slot="start" value="none"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Portal</ion-label>
              <ion-radio slot="start" value="portal"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Building</ion-label>
              <ion-radio slot="start" value="building"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Chest</ion-label>
              <ion-radio slot="start" value="chest"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </div>
      <ion-row *ngIf="tileStructureType == 'portal'">
        <ion-col sizeMd="6">
          <ion-item>
            <ion-label>Icon</ion-label>
            <ion-select [(ngModel)]="tile.structure" placeholder="select">
              <ion-select-option *ngFor="let struct of portalIcons()" [value]="struct.name">{{struct.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col sizeMd="6">
          <ion-item>
            <ion-label>Portal to map</ion-label>
            <ion-select [(ngModel)]="tile.portalToMapId" placeholder="select">
              <ion-select-option *ngFor="let mapTo of model.maps" [value]="mapTo.id">{{mapTo.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="tileStructureType == 'building'">
        <ion-col sizeMd="6">
          <ion-item>
            <ion-label>Icon</ion-label>
            <ion-select [(ngModel)]="tile.structure" placeholder="select">
              <ion-select-option *ngFor="let struct of buildingIcons()" [value]="struct.name">{{struct.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col sizeMd="6">
          <ion-item>
            <ion-label>Building Type</ion-label>
            <ion-select [(ngModel)]="tile.buildingType" placeholder="select">
              <ion-select-option *ngFor="let buildingType of enumService.getBuildingTypes()" [value]="buildingType">{{buildingType}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="tileStructureType == 'chest'">
        <ion-col sizeMd="6">
          <ion-item>
            <ion-label>Icon</ion-label>
            <ion-select [(ngModel)]="tile.structure" placeholder="select">
              <ion-select-option *ngFor="let struct of chestIcons()" [value]="struct.name">{{struct.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col sizeMd="6">
          <ion-item>
            <ion-label>Loot Box</ion-label>
            <ion-select [(ngModel)]="tile.lootBoxId" placeholder="select">
              <ion-select-option *ngFor="let loot of getLootBoxes()" [value]="loot.id">{{loot.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="map-container-outer scrollable-vert">
        <div class="map-container-inner" [class.first-row-even]="isEven(rows[0])" [class.last-row-even]="isEven(rows[rows.length - 1])">
          <div *ngFor="let y of rows" class="map-row" [class.even]="isEven(y)" [class.odd]="!isEven(y)">
            <div *ngFor="let tile of getRow(y)" class="map-hexagon-wrapper">
              <div class="map-hexagon-overlay pointer" [class.selected]="isSelected(tile)" (click)="selectTile(tile)" [class.structure]="tile.redAlwaysRevealed || tile.blueAlwaysRevealed || tile.greenAlwaysRevealed || tile.structure" [class.fight]="tile.fightIcon">
                <img *ngIf="tile.alwaysRevealed" src="assets/icon/map/revealed.png" class="to-front">
                <img *ngIf="tile.structure" src="assets/icon/map/structures/{{tile.structure}}.png" class="structure">
                <img *ngIf="tile.fightIcon" src="assets/icon/map/monster/{{tile.fightIcon}}.png" class="monster">
                <div *ngIf="overlay == 'fightName' && tile.fightId" class="text-overlay flex-center">{{fightName(tile.fightId)}}</div>
                <div *ngIf="overlay == 'fightLvl' && tile.fightId" class="text-overlay flex-center">{{fightRecLvl(tile.fightId)}}</div>
              </div>
              <div class="map-hexagon">
                <img src="assets/icon/map/tiles/{{tile.type}}.png">
              </div>
            </div>
          </div>
        </div>

        <div class="ml-2">
          <div class="flex-start">
            Info:
            <ion-button size="small" color="dark" [fill]="overlay == 'none' ? 'outline' : 'clear'" (click)="overlay = 'none'">Clear</ion-button>
            <ion-button size="small" color="dark" [fill]="overlay == 'fightName' ? 'outline' : 'clear'" (click)="overlay = 'fightName'">FightName</ion-button>
            <ion-button size="small" color="dark" [fill]="overlay == 'fightLvl' ? 'outline' : 'clear'" (click)="overlay = 'fightLvl'">FightLvl</ion-button>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
