<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Map {{map ? map.name + ' ' + (map.maxX - map.minX + 1) + 'x' + (map.maxY - map.minY + 1) : ''}}
        <ion-button color="success" (click)="save()">Save</ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/img/logo.png" alt=""></div>
<ion-content *ngIf="map">
  <ion-card>
    <ion-card-content>
      <div class="flex-space-between">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="map.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Starting Map</ion-label>
          <ion-checkbox [(ngModel)]="map.startingMap" slot="start"></ion-checkbox>
        </ion-item>
      </div>
      <ion-item lines="none">
        <ion-button color="success" (click)="addTopRow()">+ top row</ion-button>
        <ion-button color="success" (click)="addBottomRow()">+ bottom row</ion-button>
        <ion-button color="danger" (click)="removeTopRow()">- top row</ion-button>
        <ion-button color="danger" (click)="removeBottomRow()">- bottom row</ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-button color="success" (click)="addLeftColumn()">+ left column</ion-button>
        <ion-button color="success" (click)="addRightColumn()">+ right column</ion-button>
        <ion-button color="danger" (click)="removeLeftColumn()">- left column</ion-button>
        <ion-button color="danger" (click)="removeRightColumn()">- right column</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="tile">
    <ion-card-header>
      <ion-card-title>Tile {{tile.posX}}x{{tile.posY}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flex-space-between">
        <ion-item>
          <ion-label>Red Revealed</ion-label>
          <ion-checkbox [(ngModel)]="tile.redAlwaysRevealed" slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Green Revealed</ion-label>
          <ion-checkbox [(ngModel)]="tile.greenAlwaysRevealed" slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Blue Revealed</ion-label>
          <ion-checkbox [(ngModel)]="tile.blueAlwaysRevealed" slot="start"></ion-checkbox>
        </ion-item>
      </div>
      <ion-radio-group [(ngModel)]="tile.type">
        <div class="flex-space-between">
          <ion-item *ngFor="let mapType of enumService.getMapTileTypes()">
            <ion-label>{{mapType}}</ion-label>
            <ion-radio [value]="mapType"></ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>
      <div class="flex-space-between">
        <ion-item>
          <ion-label>Structure</ion-label>
          <ion-checkbox [(ngModel)]="tileHasStructure" (ionChange)="toggleStructure()" slot="start"></ion-checkbox>
        </ion-item>
        <ion-select [(ngModel)]="tile.structure" placeholder="select" [disabled]="!tileHasStructure">
          <ion-select-option *ngFor="let struct of enumService.getMapTileStructures()" [value]="struct">{{struct}}</ion-select-option>
        </ion-select>
        <ion-item>
          <ion-label>To other map</ion-label>
          <ion-select [(ngModel)]="tile.portalToMapId" placeholder="select">
            <ion-select-option [value]="null">NONE</ion-select-option>
            <ion-select-option *ngFor="let mapTo of model.maps" [value]="mapTo.id">{{mapTo.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="flex-space-between">
        <ion-item>
          <ion-label>Fight Repeatable</ion-label>
          <ion-checkbox [(ngModel)]="tile.fightRepeatable" slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Icon</ion-label>
          <ion-select [(ngModel)]="tile.fightIcon" placeholder="select" [required]="tile.dungeonId" (ionChange)="fightIconChanged()">
            <ion-select-option [value]="null">NONE</ion-select-option>
            <ion-select-option *ngFor="let icon of enumService.getMapTileFightIcons()" [value]="icon">{{icon}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Fight</ion-label>
          <ion-select [(ngModel)]="tile.dungeonId" placeholder="select" [required]="tile.fightIcon" (ionChange)="dungeonChanged()">
            <ion-select-option [value]="null">NONE</ion-select-option>
            <ion-select-option *ngFor="let dungeon of model.dungeons" [value]="dungeon.id">{{dungeon.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="map-container-outer scrollable-vert">
        <div class="map-container-inner">
          <div *ngFor="let y of rows" class="map-row">
            <div *ngFor="let tile of getRow(y)" class="map-hexagon-wrapper">
              <div class="map-hexagon-overlay pointer" [class.selected]="isSelected(tile)" (click)="selectTile(tile)">
                <img *ngIf="tile.redAlwaysRevealed" src="assets/img/red_dot.png" class="to-front">
                <img *ngIf="tile.greenAlwaysRevealed" src="assets/img/green_dot.png" class="to-front">
                <img *ngIf="tile.blueAlwaysRevealed" src="assets/img/blue_dot.png" class="to-front">
                <img *ngIf="tile.structure" src="assets/img/structures/{{tile.structure}}.png" class="structure">
                <img *ngIf="tile.fightIcon" src="assets/img/monster/{{tile.fightIcon}}.png" class="monster">
              </div>
              <div class="map-hexagon">
                <img src="assets/img/{{tile.type}}.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
