<div class="fullscreen flex-center">
  <div class="flex-vert-center">
    <div>{{register ? 'Register with': 'Login to'}} Ambrosia</div>
    <ion-item *ngIf="register">
      <ion-label position="floating">InGameName</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="register">
      <ion-label position="floating">Retype password</ion-label>
      <ion-input type="password" [(ngModel)]="rePassword"></ion-input>
    </ion-item>
    <ion-item lines="none" text-center *ngIf="!register">
      <ion-button (click)="doLogin()" [disabled]="!email || !password">Login</ion-button>
    </ion-item>
    <ion-item lines="none" text-center *ngIf="register">
      <ion-button (click)="doRegister()" [disabled]="!registerValid()">Register</ion-button>
    </ion-item>
    <div *ngIf="!register">New to Ambrosia? Please <span class="fake-link" (click)="register=true">register</span></div>
    <div *ngIf="register">Already registered? Please <span class="fake-link" (click)="register=false">login</span></div>
  </div>
</div>