<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between" *ngIf="building">
        <div>Academy - Level {{building.level}}</div>
        <ion-icon name="close" class="pointer" (click)="close()"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="model.heroes">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
          Your Heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="scrollable-list">
        <div *ngFor="let hero of model.heroes" (click)="selectHero(hero)" class="hero-tile-small border-grey flex-vert-center pointer mr-2" [class.selected-tile]="hero.id == selectedHero?.id || hero.id == fodder1?.id || hero.id == fodder2?.id || hero.id == fodder3?.id || hero.id == fodder4?.id || hero.id == fodder5?.id || hero.id == fodder6?.id">
          <ion-img [src]="'assets/img/chars/' + hero.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
          <div class="top-left-bubble level-bubble background-{{hero.heroBase.color}}">{{hero.level}}</div>
          <ion-img [src]="'assets/img/star_' + hero.stars + '.png'" class="hero-stars"></ion-img>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="selectedHero">
        <ion-card-title>
          <div class="flex-space-between">
            <div (click)="selectHero(this.selectedHero)" class="hero-tile-small border-grey flex-vert-center pointer mr-2">
              <ion-img [src]="'assets/img/chars/' + this.selectedHero.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
              <div class="top-left-bubble level-bubble background-{{this.selectedHero.heroBase.color}}">{{this.selectedHero.level}}</div>
              <ion-img [src]="'assets/img/star_' + this.selectedHero.stars + '.png'" class="hero-stars"></ion-img>
            </div>
            <div class="flex-vert flex-grow">
              <div class="ml-1" [class]="selectedHero.heroBase.color">{{selectedHero.heroBase.name}}</div>

              <div class="flex-start mt-2 ml-1 mr-1">
                <span style="width: 120px; font-size: 1rem;" [class.color-green]="selectedHero.level < currentLevel">Lvl {{currentLevel}}</span>
                <span class="flex-grow bar-outer ml-2">
                  <span *ngIf="selectedHero.level == currentLevel" class="bar-inner" [style.width]="(100 * selectedHero.xp / selectedHero.maxXp) + '%'">&nbsp;</span>
                  <span class="bar-inner-2nd" [style.width]="(100 * xpGainCurrentLevel / currentLevelMaxXp) + '%'" [style.left]="selectedHero.level == currentLevel ? (100 * selectedHero.xp / selectedHero.maxXp) + '%' : 0">&nbsp;</span>
                  <span *ngIf="selectedHero.level == currentLevel" class="bar-text">{{selectedHero.xp + xpGainCurrentLevel == currentLevelMaxXp ? 'MAX' : (selectedHero.xp + xpGainCurrentLevel) + ' / ' + currentLevelMaxXp + ' XP'}}</span>
                  <span *ngIf="selectedHero.level < currentLevel" class="bar-text">{{xpGainCurrentLevel == currentLevelMaxXp ? 'MAX' : xpGainCurrentLevel + ' / ' + currentLevelMaxXp + ' XP'}}</span>
                  &nbsp;
                </span>
                <span *ngIf="totalXpGained > 0" class="ml-4">+{{totalXpGained}} XP</span>
              </div>

              <div class="flex-start mt-2 ml-1 mr-1">
                <span style="width: 120px; font-size: 1rem;" [class.color-green]="selectedHero.ascLvl < currentAscLevel">Asc Lvl {{currentAscLevel}}</span>
                <span class="flex-grow bar-outer ml-2">
                  <span *ngIf="selectedHero.ascLvl == currentAscLevel" class="bar-inner" [style.width]="(100 * selectedHero.ascPoints / selectedHero.ascPointsMax) + '%'">&nbsp;</span>
                  <span class="bar-inner-2nd" [style.width]="(100 * ascGainCurrentLevel / currentAscLevelMaxPoints) + '%'" [style.left]="selectedHero.ascLvl == currentAscLevel ? (100 * selectedHero.ascPoints / selectedHero.ascPointsMax) + '%' : 0">&nbsp;</span>
                  <span *ngIf="selectedHero.ascLvl == currentAscLevel" class="bar-text">{{selectedHero.ascPoints + ascGainCurrentLevel == selectedHero.ascPointsMax ? 'MAX' : (selectedHero.ascPoints + ascGainCurrentLevel) + ' / ' + selectedHero.ascPointsMax + ' pts'}}</span>
                  <span *ngIf="selectedHero.ascLvl < currentAscLevel" class="bar-text">{{ascGainCurrentLevel == currentAscLevelMaxPoints ? 'MAX' : ascGainCurrentLevel + ' / ' + currentAscLevelMaxPoints + ' pts'}}</span>
                  &nbsp;
                </span>
                <span *ngIf="totalAscGained > 0" class="ml-4">+{{totalAscGained}} Asc points</span>
              </div>
            </div>
          </div>
        </ion-card-title>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col sizeMd="2" *ngIf="fodder1">
          <div (click)="selectHero(fodder1)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fodder1.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fodder1.heroBase.color}}">{{fodder1.level}}</div>
            <ion-img [src]="'assets/img/star_' + fodder1.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!fodder1 && fodderSize >= 1">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="fodder2">
          <div (click)="selectHero(fodder2)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fodder2.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fodder2.heroBase.color}}">{{fodder2.level}}</div>
            <ion-img [src]="'assets/img/star_' + fodder2.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!fodder2 && fodderSize >= 2">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="fodder3">
          <div (click)="selectHero(fodder3)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fodder3.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fodder3.heroBase.color}}">{{fodder3.level}}</div>
            <ion-img [src]="'assets/img/star_' + fodder3.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!fodder3 && fodderSize >= 3">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="fodder4">
          <div (click)="selectHero(fodder4)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fodder4.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fodder4.heroBase.color}}">{{fodder4.level}}</div>
            <ion-img [src]="'assets/img/star_' + fodder4.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!fodder4 && fodderSize >= 4">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="fodder5">
          <div (click)="selectHero(fodder5)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fodder5.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fodder5.heroBase.color}}">{{fodder5.level}}</div>
            <ion-img [src]="'assets/img/star_' + fodder5.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!fodder5 && fodderSize >= 5">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="fodder6">
          <div (click)="selectHero(fodder6)" class="hero-tile-small border-grey pointer flex-vert-center">
            <ion-img [src]="'assets/img/chars/' + fodder6.heroBase.avatar + '.png'" class="hero-avatar-small border-bottom-grey"></ion-img>
            <div class="top-left-bubble level-bubble background-{{fodder6.heroBase.color}}">{{fodder6.level}}</div>
            <ion-img [src]="'assets/img/star_' + fodder6.stars + '.png'" class="hero-stars"></ion-img>
          </div>
        </ion-col>
        <ion-col sizeMd="2" *ngIf="!fodder6 && fodderSize >= 6">
          <div class="hero-tile-small border-grey">
            <ion-img src="assets/img/chars/placeholder.png" class="hero-avatar-small"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="!feedForEvolve" class="flex-center">
        <ion-button (click)="feedHeroesForXp()" color="success" [disabled]="totalXpGained == 0">Level up</ion-button>
      </div>
      <div *ngIf="feedForEvolve" class="flex-center">
        <ion-button (click)="feedHeroesForEvolve()" color="success" [disabled]="evolveDisabled()">Evolve</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
