<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        <div class="flex-center">
          Academy - Level {{getBuilding().level}}
          <ion-button class="ml-2" *ngIf="canUpgradeBuilding" size="small" color="success" (click)="openUpgradeModal()">{{getBuilding().upgradeTriggered ? 'In progress' : 'Upgrade'}}</ion-button>
        </div>
        <div class="flex-center">
          <div class="font-small">max hero level to train: {{model.progress.maxTrainingLevel}}</div>
          <ion-button size="small" fill="clear" color="dark" (click)="showStory()">
            <i class="ra ra-book font-larger"></i>
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="model.heroes">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
          Your Heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="scrollable-list">
        <hero-icon *ngFor="let hero of model.heroes" [hero]="hero" [clickable]="true" (clicked)="selectHero(hero)" [selected]="hero.id == selectedHero?.id || hero.id == fodder1?.id || hero.id == fodder2?.id || hero.id == fodder3?.id || hero.id == fodder4?.id || hero.id == fodder5?.id || hero.id == fodder6?.id"></hero-icon>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="selectedHero">
        <ion-card-title>
          <div class="flex-space-between">
            <hero-icon [hero]="selectedHero" [clickable]="true" (clicked)="selectHero(selectedHero)"></hero-icon>
            <div class="flex-vert flex-grow">
              <div class="ml-1" [class]="selectedHero.heroBase.color">{{selectedHero.heroBase.name}}</div>

              <div class="flex-start mt-2 ml-1 mr-1">
                <span style="width: 120px; font-size: 1rem;">Lvl {{currentLevel}}<span *ngIf="selectedHero.level < currentLevel" class="color-green"> +{{currentLevel - selectedHero.level}}</span></span>
                <span class="flex-grow bar-outer with-text xp max-width-50p ml-2">
                  <span *ngIf="selectedHero.level == currentLevel" class="bar-filled" [style.width]="(100 * selectedHero.xp / selectedHero.maxXp) + '%'"></span>
                  <span class="bar-filled-added" [style.width]="(100 * xpGainCurrentLevel / currentLevelMaxXp) + '%'" [style.left]="selectedHero.level == currentLevel ? (100 * selectedHero.xp / selectedHero.maxXp) + '%' : 0"></span>
                  <span *ngIf="selectedHero.level == currentLevel" class="bar-text">{{selectedHero.xp + xpGainCurrentLevel == currentLevelMaxXp ? 'MAX' : (selectedHero.xp + xpGainCurrentLevel) + ' / ' + currentLevelMaxXp + ' XP'}}</span>
                  <span *ngIf="selectedHero.level < currentLevel" class="bar-text">{{xpGainCurrentLevel == currentLevelMaxXp ? 'MAX' : xpGainCurrentLevel + ' / ' + currentLevelMaxXp + ' XP'}}</span>
                </span>
                <span *ngIf="totalXpGained > 0" class="ml-4">+{{totalXpGained}} XP</span>
              </div>

              <div class="flex-start mt-2 ml-1 mr-1">
                <span style="width: 120px; font-size: 1rem;">Asc {{currentAscLevel}}<span *ngIf="selectedHero.ascLvl < currentAscLevel" class="color-green"> +{{currentAscLevel - selectedHero.ascLvl}}</span></span>
                <span class="flex-grow bar-outer with-text asc max-width-50p ml-2">
                  <span *ngIf="selectedHero.ascLvl == currentAscLevel" class="bar-filled" [style.width]="(100 * selectedHero.ascPoints / selectedHero.ascPointsMax) + '%'"></span>
                  <span class="bar-filled-added" [style.width]="(100 * ascGainCurrentLevel / currentAscLevelMaxPoints) + '%'" [style.left]="selectedHero.ascLvl == currentAscLevel ? (100 * selectedHero.ascPoints / selectedHero.ascPointsMax) + '%' : 0"></span>
                  <span *ngIf="selectedHero.ascLvl == currentAscLevel" class="bar-text">{{selectedHero.ascPoints + ascGainCurrentLevel == selectedHero.ascPointsMax ? 'MAX' : (selectedHero.ascPoints + ascGainCurrentLevel) + ' / ' + selectedHero.ascPointsMax}}</span>
                  <span *ngIf="selectedHero.ascLvl < currentAscLevel" class="bar-text">{{ascGainCurrentLevel == currentAscLevelMaxPoints ? 'MAX' : ascGainCurrentLevel + ' / ' + currentAscLevelMaxPoints}}</span>
                </span>
                <span *ngIf="totalAscGained > 0" class="ml-4">+{{totalAscGained}} Asc points</span>
              </div>
            </div>
          </div>
        </ion-card-title>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col sizeMd="2" *ngFor="let fodder of getFodder()">
          <hero-icon [hero]="fodder" [clickable]="true" (clicked)="selectHero(fodder)"></hero-icon>
        </ion-col>
      </ion-row>
      <div *ngIf="!feedForEvolve" class="flex-center">
        <ion-button (click)="feedHeroesForXp()" color="success" [disabled]="totalXpGained == 0">Level up</ion-button>
      </div>
      <div *ngIf="feedForEvolve" class="flex-center">
        <ion-button (click)="feedHeroesForEvolve()" color="success" [disabled]="evolveDisabled()">Evolve</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
