<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        <div *ngIf="map">Campaign</div>
        <div *ngIf="testFight && fight">Test</div>
        <div class="flex-center">
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/icon/logo.png" alt="" class="logo"></div>
<looted></looted>
<ion-content *ngIf="fight">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div class="flex-space-between">
          <div>Your heroes</div>
          <div class="flex font-small" *ngIf="fight.resourceType == 'STEAM'">
            <div class="flex ml-2 mr-2"><img src="assets/icon/resources/PREMIUM_STEAM.png" class="resource-icon" alt="premium steam">{{model.resources.premiumSteam}}/{{model.resources.premiumSteamMax}}</div>
            <div class="flex pointer" (click)="steamTimer = !steamTimer"><img src="assets/icon/resources/STEAM.png" class="resource-icon" alt="steam">{{steamTimer ? ( model.resources.steam >= model.resources.steamMax ? 'max' : converter.time(model.resources.steamProduceIn) ) : model.resources.steam + '/' + model.resources.steamMax}}</div>
          </div>
          <div class="flex font-small" *ngIf="fight.resourceType == 'COGWHEELS'">
            <div class="flex ml-2 mr-2"><img src="assets/icon/resources/PREMIUM_COGWHEELS.png" class="resource-icon" alt="premium cogwheels">{{model.resources.premiumCogwheels}}/{{model.resources.premiumCogwheelsMax}}</div>
            <div class="flex pointer" (click)="cogwheelsTimer = !cogwheelsTimer"><img src="assets/icon/resources/COGWHEELS.png" class="resource-icon" alt="cogwheels">{{cogwheelsTimer ? ( model.resources.cogwheels >= model.resources.cogwheelsMax ? 'max' : converter.time(model.resources.cogwheelsProduceIn) ) : model.resources.cogwheels + '/' + model.resources.cogwheelsMax}}</div>
          </div>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [class.scrollable-list]="!blockView" [class.hero-block-view]="blockView">
        <hero-icon *ngFor="let hero of model.heroes" [hero]="hero" class="mr-1 ml-1" [class.mt-1]="blockView" [clickable]="true" (clicked)="selectHero(hero)" [selected]="hero == hero1 || hero == hero2 || hero == hero3 || hero == hero4"></hero-icon>
      </div>
      <div class="full-width flex-center">
        <ion-button size="small" fill="outline" color="dark" (click)="blockView = !blockView"><ion-icon [name]="blockView ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="flex-space-between flex-wrap">
        <div (click)="selectVehicle()" class="pointer" *ngIf="model.vehicles && model.vehicles.length > 0">
          <vehicle *ngIf="vehicle" [vehicle]="vehicle" [small]="true" [showName]="false"></vehicle>
          <div *ngIf="!vehicle">
            <ion-img class="vehicle-avatar small" src="/assets/img/vehicles/EMPTY_SLOT.png"></ion-img>
          </div>
        </div>
        <hero-icon *ngFor="let hero of getSelectedHeroes()" [hero]="hero" [clickable]="true" (clicked)="selectHero($event)"></hero-icon>
      </div>
      <div class="flex-space-around">
        <ion-button color="success" size="small" (click)="start()" [disabled]="!canStartBattle()">
          <div *ngIf="!testFight" class="flex-center">Start (<img src="assets/icon/resources/{{fight.resourceType}}.png" class="resource-icon">{{fight.costs}})</div>
          <div *ngIf="testFight">Start</div>
        </ion-button>
        <ion-button size="small" *ngIf="offlineBattleEnabled()" (click)="openMission()" [disabled]="!vehicle || !canStartBattle()">Mission</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="flex-space-between">
        <div>{{map.name}} {{tile? tile.posX + 'x' + tile.posY: ''}}</div>
        <div>Description: {{fight.description}}</div>
      </div>
      <div class="flex-space-between">
        <div>Difficulty: {{fight.level}}</div>
        <div>XP: {{getXp(fight)}}</div>
        <div>Asc: {{fight.ascPoints}}</div>
      </div>
      <div class="strong">{{fight.stages.length}} Stage{{fight.stages.length > 1 ? 's' : ''}}</div>
      <div *ngFor="let fightStage of fight.stages" class="mt-2 flex-start">
        <div class="flex-center strong mr-2 font-enlarged">{{fightStage.stage}}.</div>
        <div class="flex-space-between mt-2 flex-grow">
          <div *ngFor="let stageHero of getStageHeroe(fightStage)">
            <hero-icon *ngIf="stageHero" [hero]="stageHero"></hero-icon>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
