<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        <div *ngIf="map">Campaign</div>
        <div *ngIf="testFight && fight">Test</div>
        <div class="flex-center">
          <ion-button size="small" fill="clear" color="dark" (click)="showStory()">
            <i class="ra ra-book font-larger"></i>
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/icon/logo.png" alt="" class="logo"></div>
<looted></looted>
<ion-content *ngIf="fight">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Your heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="scrollable-list">
        <hero-icon *ngFor="let hero of model.heroes" [hero]="hero" class="mr-2" [clickable]="true" (clicked)="selectHero(hero)" [selected]="hero == hero1 || hero == hero2 || hero == hero3 || hero == hero4"></hero-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="flex-space-between flex-wrap">
        <div (click)="selectVehicle()" class="pointer" *ngIf="model.vehicles && model.vehicles.length > 0">
          <vehicle *ngIf="vehicle" [vehicle]="vehicle" [small]="true"></vehicle>
          <div *ngIf="!vehicle">
            <ion-img class="vehicle-avatar" src="/assets/img/vehicles/EMPTY_SLOT.png"></ion-img>
          </div>
        </div>
        <hero-icon *ngFor="let hero of getSelectedHeroes()" [hero]="hero" [clickable]="true" (clicked)="selectHero($event)"></hero-icon>
      </div>
      <div class="flex-space-around">
        <ion-button color="success" size="small" (click)="start()" [disabled]="!canStartBattle()">
          <div *ngIf="!testFight" class="flex-center">Start ({{fight.costs}}<ion-img src="assets/icon/resources/{{fight.resourceType}}.png" class="resource-icon"></ion-img>)</div>
          <div *ngIf="testFight">Start</div>
        </ion-button>
        <ion-button size="small" *ngIf="offlineBattleEnabled()" (click)="openMission()" [disabled]="!vehicle || !canStartBattle()">Mission</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="flex-space-between">
        <div>{{map.name}} {{tile? tile.posX + 'x' + tile.posY: ''}}</div>
        <div>Description: {{fight.description}}</div>
      </div>
      <div class="flex-space-between">
        <div>Difficulty: {{fight.level}}</div>
        <div>XP: {{fight.xp}}</div>
        <div>Asc: {{fight.ascPoints}}</div>
      </div>
      <div *ngIf="fight.stages.length > 1" class="strong">{{fight.stages.length}} Stages <span class="fake-link" (click)="showStages = !showStages">{{showStages ? 'hide' : 'show'}}</span></div>
      <div *ngIf="fight.stages.length == 1" class="strong">1 Stage</div>
      <div *ngIf="showStages">
        <div *ngFor="let fightStage of fight.stages" class="mt-2 flex-start">
          <div class="flex-center strong mr-2 font-enlarged">{{fightStage.stage}}.</div>
          <div class="flex-space-between mt-2 flex-grow">
            <div *ngFor="let stageHero of getStageHeroe(fightStage)">
              <hero-icon *ngIf="stageHero" [hero]="stageHero"></hero-icon>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
