<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Gear Loot
        <ion-button color="success" size="small" (click)="newGearLootBox()">New Gear Loot</ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/icon/logo.png" alt="" class="logo"></div>
<ion-content *ngIf="model.gearLoots">
  <ion-list>
    <ion-item *ngFor="let gearLoot of model.gearLoots" (click)="gearLootDetails(gearLoot)" detail class="pointer">
      <div class="flex-space-between full-width">
        <div class="bold">{{gearLoot.name}}</div>
        <div *ngIf="gearLoot.sets.length == 1">{{converter.readableIdentifier(gearLoot.sets[0])}}</div>
        <div *ngIf="gearLoot.sets.length == enumService.getGearSets().length">Any Set</div>
        <div *ngIf="gearLoot.sets.length > 1 && gearLoot.sets.length < enumService.getGearSets().length">{{gearLoot.sets.length}}/{{enumService.getGearSets().length}} Sets</div>
        <div *ngIf="gearLoot.types.length == 1">{{converter.readableIdentifier(gearLoot.types[0])}}</div>
        <div *ngIf="gearLoot.types.length == enumService.getGearTypes().length">Any Type</div>
        <div *ngIf="gearLoot.types.length > 1 && gearLoot.types.length < enumService.getGearTypes().length">{{gearLoot.types.length}}/{{enumService.getGearTypes().length}} Types</div>
        <div *ngIf="gearLoot.legendaryChance > 0">{{gearLoot.legendaryChance}}% Leg</div>
        <div *ngIf="gearLoot.epicChance > 0">{{gearLoot.epicChance}}% Epic</div>
        <div *ngIf="gearLoot.rareChance > 0">{{gearLoot.rareChance}}% Rare</div>
        <div *ngIf="gearLoot.uncommonChance > 0">{{gearLoot.uncommonChance}}% Uncommon</div>
        <div *ngIf="gearLoot.commonChance > 0">{{gearLoot.commonChance}}% Common</div>
        <div>#{{gearLoot.id}}</div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
