<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Loot Boxes
        <ion-button color="success" size="small" (click)="newLootBox()">New Loot Box</ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/img/logo.png" alt="" class="logo"></div>
<ion-content *ngIf="model.lootBoxes">
  <ion-list>
    <ion-item *ngFor="let lootBox of model.lootBoxes" (click)="lootBoxDetails(lootBox)" detail class="pointer">
      <ion-label>#{{lootBox.id}} {{lootBox.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
