.map-container-outer {
  display: flex;
}

.map-container-inner {
  background-color: #0f7b1c;
  padding: 4px 4px 4px 4px;
  &.first-row-even {
    padding-top: 14px;
  }
  &.last-row-even {
    padding-bottom: 14px;
  }

  .map-row {
    &.even {
      margin: -10px 0;
    }
    &.odd {
      margin-left: 20px;
    }
  }

  .map-hexagon-wrapper {
    margin-right: 2px;
  }

  .map-hexagon-overlay {
    &.structure {
      background-color: rgba(255,255,255,0.5);
    }
    &:hover {
      background-color: rgba(0,0,0,0.5);
    }

    &.selected {
      background-color: rgba(0,0,0,0.25);
    }
  }
}

.player-map-container-inner {
  background-position: center;
  background-repeat: repeat;
  color: black;

  &.BLUE_SKY {
    background-image: url(assets/img/backgrounds/BLUE_SKY.png);
  }
  &.RED_SKY {
    background-image: url(assets/img/backgrounds/RED_SKY.png);
  }
  &.BLACK_BRICKS {
    background-image: url(assets/img/backgrounds/BLACK_BRICKS.png);
  }
  &.RED_BRICKS {
    background-image: url(assets/img/backgrounds/RED_BRICKS.png);
  }
  &.DRY_CLAY {
    background-image: url(assets/img/backgrounds/DRY_CLAY.png);
  }
  &.DUNGEON_WALL {
    background-image: url(assets/img/backgrounds/DUNGEON_WALL.png);
  }

  .map-row {
    margin-right: -22px;
    &.even {
      margin: -12px -21px;
    }
  }

  .map-row:first-child {
    margin-top: -11px;
  }
  .map-row:last-child {
    margin-bottom: -11px;
  }

  .costs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
  }

  .hover {
    &:hover {
      background-color: rgba(0,0,0,0.5);
      color: white;
    }
  }
}

.map-row {
  display: flex;

}

.map-hexagon-wrapper {
  position: relative;
  width:40px;
  height: 46px;
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

.map-hexagon-wrapper * {
  visibility: visible;
}

.map-hexagon {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);

  img {
    min-width: 50px;
  }

}

.map-hexagon-overlay {
  position: absolute;
  z-index: 10;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);

  &.structure {
    background-color: rgba(255,255,255,0.5);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.to-front {
      z-index: 100;
    }

    &.structure {
      top: 7px;
      left: 5px;
      width: 30px;
      height: 30px;
    }

    &.monster {
      z-index: 20;
      top: 7px;
      left: 5px;
      width: 30px;
      height: 30px;
    }
  }
}