.RED {
  color: #a32324;
}

.GREEN {
  color: #2f9b34;
}

.BLUE {
  color: #1b76ef;
}

.background-RED {
  background-color: #a32324;
}

.background-GREEN {
  background-color: #2f9b34;
}

.background-BLUE {
  background-color: #1b76ef;
}

.background-grey {
  background-color: #e1e3e6;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-grey {
  color: grey;
}

.color-green {
  color: #0f7b1c;
}

.color-orange {
  color: #d4910d;
}

.color-jewel-STRENGTH {
  color: #9a1d13;
}

.color-jewel-ARMOR {
  color: #1110ad;
}

.color-jewel-HP {
  color: #0f7b1c;
}

.color-jewel-BUFFING {
  color: #76157b;
}

.color-jewel-SPEED {
  color: #c4c412;
}

.color-jewel-CRIT {
  color: #2ba6bb;
}

.border-grey {
  border: 1px solid grey;
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
}

.border-left-grey {
  border-left: 1px solid grey;
}

.border-right-grey {
  border-right: 1px solid grey;
}

.hover-grey:hover {
  background-color: #e6e6e6;
}

.strong {
  font-weight: 500;
}

.font-small {
  font-size: 0.8em;
}

.font-large {
  font-size: 3em;
}

.bold {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.active {
  --ion-text-color: var(--ion-color-primary);

  ion-icon {
    --ion-text-color-rgb: var(--ion-color-primary);
  }
}

.full-width {
  width: 100%;
}

.no-max-width {
  max-width: inherit;
}

.parent-active {
  font-weight: 500;
}

.sub-item {
  padding-left: 20px;
  font-size: small;
}

ion-row.table-header {
  background-color: #4c8dff;
  ion-col {
    padding: 10px 12px;
    border: solid 1px grey;
    font-weight: 500;
  }
  ion-col:nth-child(n+2) {
    border-left: none;
  }
}

ion-row.table-row {
  ion-col {
    padding: 10px 12px;
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
  }
  ion-col:first-child {
    border-left: solid 1px grey;
  }
}

.border-bottom {
  border-bottom: 1px solid black;
}

.scrollable-list {
  display: flex;
  overflow-x: scroll;
}

.scrollable-vert {
  overflow-y: scroll;
}

.hero-avatar {
  width: 120px;
}

.hero-avatar-small {
  width: 80px;
}

.hero-tile-small {
  position: relative;
  max-width: 80px;
}

.empty-hero-tile {
  width: 80px;
  height: 80px;
}

.selected-tile {
  border: 1px solid black;
  background-color: #cff3f3;
}

.loading-indicator-boundary {
  position: relative;

  .loading-indicator {
    position: absolute;
  }
}

.loading-indicator {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100px;
  }
}

.skill_icon_tile {
  position: relative;

  .locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
}

.skill_cooldown {
  position: absolute;
  right: 1px;
  bottom: -2px;
  color: white;
}

.skill_passive {
  position: absolute;
  left: 2px;
  top: -4px;
  color: white;
}

.skill_icon {
  width: 40px;
  height: 40px;
}

.skill_selected {
  border: 2px solid #dcb717;
}

.level-bubble {
  color: white;
  border-radius: 10px;
  width: 20px;
  text-align: center;
  font-size: 0.8em;
}

.top-left-bubble {
  position: absolute;
  top: 2px;
  left: 2px;
}

.hero-stars {
  width: 100%;
  left: 0;
  bottom: 5%;
  background-color: #4a4242;
}