<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        Create new base hero
        <ion-button color="medium" fill="clean" (click)="cancel()">Cancel</ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Create new base hero</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form  #form="ngForm" (ngSubmit)="createHero(form)">
          <ion-row>
            <ion-col sizeMd="6">
              <ion-item>
                <ion-label position="floating">Hero name</ion-label>
                <ion-input name="name" type="text" ngModel required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeMd="6">
              <ion-item>
                <ion-label position="floating">Hero class</ion-label>
                <ion-input name="heroClass" type="text" ngModel required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeMd="4">
              <ion-item>
                <ion-label>Color</ion-label>
                <ion-select name="color" interface="popover" placeholder="Select" ngModel required>
                  <ion-select-option *ngFor="let color of enumService.getColors()" [value]="color">{{color}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col sizeMd="4">
              <ion-item>
                <ion-label>Rarity</ion-label>
                <ion-select name="rarity" interface="popover" placeholder="Select" ngModel required>
                  <ion-select-option *ngFor="let rarity of enumService.getRarities()" [value]="rarity">{{rarity}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col sizeMd="4">
              <ion-item>
                <ion-label>Hero Type</ion-label>
                <ion-select name="heroType" interface="popover" placeholder="Select" ngModel required>
                  <ion-select-option *ngFor="let heroType of enumService.getHeroTypes()" [value]="heroType">{{heroType}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="form.invalid">Create Hero</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
