<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between scrollable-vert">
        <div class="position-relative pointer" (click)="openUpgradeModal()">
          Barracks L{{getBuilding().level}}
          <div *ngIf="upgradeInProgress()" class="upgrade-in-progress-bubble">!</div>
          <div *ngIf="upgradeFinished()" class="upgrade-done-bubble">!</div>
          <div *ngIf="!getBuilding().upgradeTriggered && canUpgradeBuilding" class="upgrade-possible-bubble">!</div>
        </div>
        <div class="flex-center font-small ml-4">
          <div [class.color-red]="model.heroes.length >= model.progress.barrackSize">{{model.heroes.length}}/{{model.progress.barrackSize}}</div>
          <ion-button size="small" fill="clear" color="dark" (click)="showStory()">
            <i class="ra ra-book font-larger"></i>
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="model.heroes">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
          Your Heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="scrollable-list">
        <hero-icon *ngFor="let hero of model.heroes" class="mr-2" [hero]="hero" [clickable]="true" (clicked)="selectHero(hero)" [clickableOnMission]="true" [showInfo]="false" [selected]="hero == selectedHero"></hero-icon>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedHero">
    <ion-card-header>
      <ion-card-title>
        <div class="flex-space-between">
          <div [class]="selectedHero.heroBase.color">{{selectedHero.heroBase.name}}</div>
          <div><ion-icon name="star" *ngFor="let star of converter.numberToArray(selectedHero.stars)"></ion-icon></div>
          <div>Lvl {{selectedHero.level}}</div>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="stats">
          <ion-label>Stats</ion-label>
        </ion-segment-button>
        <ion-segment-button value="skills">
          <ion-label>Skills</ion-label>
        </ion-segment-button>
        <ion-segment-button value="gear">
          <ion-label>Gear</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="isConfiguredInFight()" class="mt-1 mb-1 pt-1 pb-1 background-RED color-white flex-center bold">Be careful, this hero is already configured for fights!!</div>

      <div *ngIf="tab == 'stats'">
        <ion-row class="flex-start mt-2 ml-1 mr-1">
          <span class="width-80">Lvl {{selectedHero.level}}</span>
          <span class="flex-grow bar-outer with-text xp max-width-50p ml-2">
            <span class="bar-filled" [style.width]="(100 * selectedHero.xp / selectedHero.maxXp) + '%'"></span>
            <span class="bar-text">{{selectedHero.xp == selectedHero.maxXp ? 'MAX' : selectedHero.xp + ' / ' + selectedHero.maxXp + ' XP'}}</span>
          </span>
          <span *ngIf="model.player.betaTester" class="ml-4">
            <span class="ion-hide-md-down">Modify level</span>
            <ion-button size="small" fill="clear" (click)="betaTesterHeroLooseLevel()"><ion-icon name="remove"></ion-icon></ion-button>
            <ion-button size="small" fill="clear" (click)="betaTesterHeroGainLevel()"><ion-icon name="add"></ion-icon></ion-button>
          </span>
        </ion-row>
        <div class="flex-start mt-2 ml-1 mr-1">
          <span class="width-80">Asc Level {{selectedHero.ascLvl}}</span>
          <span class="flex-grow bar-outer with-text asc max-width-50p ml-2">
            <span class="bar-filled" [style.width]="(100 * selectedHero.ascPoints / selectedHero.ascPointsMax) + '%'"></span>
            <span class="bar-text">{{selectedHero.ascPoints == selectedHero.ascPointsMax ? 'MAX' : selectedHero.ascPoints + ' / ' + selectedHero.ascPointsMax + ' pts'}}</span>
          </span>
          <span *ngIf="model.player.betaTester" class="ml-4">
            <span class="ion-hide-md-down">Modify asc level</span>
            <ion-button size="small" fill="clear" (click)="betaTesterHeroLooseAscLevel()"><ion-icon name="remove"></ion-icon></ion-button>
            <ion-button size="small" fill="clear" (click)="betaTesterHeroGainAscLevel()"><ion-icon name="add"></ion-icon></ion-button>
          </span>
        </div>
        <div class="mt-1 ml-1 mr-1 mb-2 border-bottom flex-space-between">
          <div>{{selectedHero.heroBase.rarity}}</div>
          <div>{{selectedHero.heroBase.color}}</div>
          <div>{{selectedHero.heroBase.heroClass}}</div>
          <div>{{selectedHero.heroBase.heroType}}</div>
        </div>
        <ion-row>
          <ion-col sizeMd="6">
            <ion-row>
              <ion-col sizeMd="4">Strength</ion-col>
              <ion-col sizeMd="">{{selectedHero.baseStrength}} <strong *ngIf="selectedHero.strengthTotal > selectedHero.baseStrength" class="color-green">+{{selectedHero.strengthTotal - selectedHero.baseStrength}}</strong></ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeMd="4">Hitpoints</ion-col>
              <ion-col sizeMd="">{{selectedHero.baseHp}} <strong *ngIf="selectedHero.hpTotal > selectedHero.baseHp" class="color-green">+{{selectedHero.hpTotal - selectedHero.baseHp}}</strong></ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeMd="4">Armor</ion-col>
              <ion-col sizeMd="">{{selectedHero.baseArmor}} <strong *ngIf="selectedHero.armorTotal > selectedHero.baseArmor" class="color-green">+{{selectedHero.armorTotal - selectedHero.baseArmor}}</strong></ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeMd="4">Initiative</ion-col>
              <ion-col sizeMd="">{{selectedHero.baseInitiative}} <strong *ngIf="selectedHero.initiativeTotal > selectedHero.baseInitiative" class="color-green">+{{selectedHero.initiativeTotal - selectedHero.baseInitiative}}</strong></ion-col>
            </ion-row>
          </ion-col>
          <ion-col sizeMd="6">
            <ion-row>
              <ion-col sizeMd="4">Dexterity</ion-col>
              <ion-col sizeMd="">{{selectedHero.baseDexterity}} <strong *ngIf="selectedHero.dexterityTotal > selectedHero.baseDexterity" class="color-green">+{{selectedHero.dexterityTotal - selectedHero.baseDexterity}}</strong></ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeMd="4">Resistance</ion-col>
              <ion-col sizeMd="">{{selectedHero.baseResistance}} <strong *ngIf="selectedHero.resistanceTotal > selectedHero.baseResistance" class="color-green">+{{selectedHero.resistanceTotal - selectedHero.baseResistance}}</strong></ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeMd="4">Crit</ion-col>
              <ion-col sizeMd="">{{selectedHero.baseCrit}} <strong *ngIf="selectedHero.critTotal > selectedHero.baseCrit" class="color-green">+{{selectedHero.critTotal - selectedHero.baseCrit}}</strong></ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeMd="4">CritMult</ion-col>
              <ion-col sizeMd="">{{selectedHero.baseCritMult}} <strong *ngIf="selectedHero.critMultTotal > selectedHero.baseCritMult" class="color-green">+{{selectedHero.critMultTotal - selectedHero.baseCritMult}}</strong></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="tab == 'skills'">
        <div class="skill-list mt-2">
          <div *ngFor="let skill of selectedHero.heroBase.skills" (click)="selectSkill(skill.number)" class="skill-tile flex-vert-center pointer mr-2" [class.icon-selected]="skill.number == selectedSkill.number">
            <ion-img [src]="'assets/icon/skills/' + skill.icon + '.png'" class="large-icon"></ion-img>
            <div *ngIf="getSkillLevel(skill) > 0" class="skill-level">{{getSkillLevel(skill)}}</div>
            <div *ngIf="getSkillLevel(skill) == 0" class="locked"><ion-icon name="lock-closed"></ion-icon></div>
          </div>
        </div>
        <div *ngIf="selectedSkill">
          <div class="flex-space-between">
            <strong>{{selectedSkill.name}}</strong>
            <div class="fake-link" (click)="openBuffInfo()">Buffs</div>
          </div>
          <div>{{selectedSkill.description}}</div>
          <div *ngIf="selectedSkill.cooldown > 1">Cooldown of {{selectedSkill.cooldown}}</div>
          <div *ngIf="selectedSkill.initCooldown > 1">Initial Cooldown of {{selectedSkill.initCooldown}}</div>
          <div *ngIf="selectedSkill.skillLevel.length > 0" class="mt-2">
            <div *ngFor="let lvl of selectedSkill.skillLevel" [class.strong]="getSkillLevel(selectedSkill) >= lvl.level">L{{lvl.level}} {{lvl.description}}</div>
          </div>
          <div *ngIf="getSkillLevel(selectedSkill) <= 0 && selectedSkill.skillActiveTrigger == 'ASCENDED'"><i>Ascend hero to unlock this skill</i></div>
          <ion-button size="small" color="success" (click)="heroGainSkillLevel()" [disabled]="selectedHero.missionId || selectedHero.skillPoints <= 0">Skill up ({{selectedHero.skillPoints}})</ion-button>
          <ion-button size="small" color="warning" (click)="heroResetSkills()" [disabled]="selectedHero.missionId">Reset skills</ion-button>
        </div>
      </div>

      <div *ngIf="tab == 'gear'">
        <ion-row>
          <ion-col sizeMd="6" sizeXs="12">
            <ion-list>
              <ion-item>
                <div class="flex-space-between full-width">
                  Hero's Gear
                  <ion-button fill="clear" (click)="openGearInfo()"><ion-img src="assets/icon/info.png" class="resource-icon"></ion-img></ion-button>
                </div>
              </ion-item>
              <ion-item class="mt-05" (click)="gearExclusiveFilter('WEAPON')"><gear-list-item type="WEAPON" [hero]="selectedHero" [gear]="selectedHero.weapon" (callback)="selectHero($event, true)" class="full-width"></gear-list-item></ion-item>
              <ion-item class="mt-05" (click)="gearExclusiveFilter('SHIELD')"><gear-list-item type="SHIELD" [hero]="selectedHero" [gear]="selectedHero.shield" (callback)="selectHero($event, true)" class="full-width"></gear-list-item></ion-item>
              <ion-item class="mt-05" (click)="gearExclusiveFilter('HELMET')"><gear-list-item type="HELMET" [hero]="selectedHero" [gear]="selectedHero.helmet" (callback)="selectHero($event, true)" class="full-width"></gear-list-item></ion-item>
              <ion-item class="mt-05" (click)="gearExclusiveFilter('ARMOR')"><gear-list-item type="ARMOR" [hero]="selectedHero" [gear]="selectedHero.armor" (callback)="selectHero($event, true)" class="full-width"></gear-list-item></ion-item>
              <ion-item class="mt-05" (click)="gearExclusiveFilter('GLOVES')"><gear-list-item type="GLOVES" [hero]="selectedHero" [gear]="selectedHero.gloves" (callback)="selectHero($event, true)" class="full-width"></gear-list-item></ion-item>
              <ion-item class="mt-05" (click)="gearExclusiveFilter('BOOTS')"><gear-list-item type="BOOTS" [hero]="selectedHero" [gear]="selectedHero.boots" (callback)="selectHero($event, true)" class="full-width"></gear-list-item></ion-item>
            </ion-list>
            <ion-item *ngIf="selectedHero.sets" lines="none">
              <div>
                <div>Set bonuses</div>
                <div class="font-small" *ngFor="let set of selectedHero.sets">{{set.number}}x {{converter.readableIdentifier(set.gearSet)}}: {{set.description ? set.description : 'no bonus'}}</div>
              </div>
            </ion-item>
          </ion-col>

          <ion-col sizeMd="6" sizeXs="12">
            <ion-item>
              <div class="flex-vert full-width pa-05">
                <div class="flex-space-between">
                  Armory
                  <img src="assets/img/sets/default_WEAPON.png" class="resource-icon pointer" (click)="gearFilter('WEAPON')" [class.black-border]="gearTypeFilter.indexOf('WEAPON') >= 0">
                  <img src="assets/img/sets/default_SHIELD.png" class="resource-icon pointer" (click)="gearFilter('SHIELD')" [class.black-border]="gearTypeFilter.indexOf('SHIELD') >= 0">
                  <img src="assets/img/sets/default_HELMET.png" class="resource-icon pointer" (click)="gearFilter('HELMET')" [class.black-border]="gearTypeFilter.indexOf('HELMET') >= 0">
                  <img src="assets/img/sets/default_ARMOR.png" class="resource-icon pointer" (click)="gearFilter('ARMOR')" [class.black-border]="gearTypeFilter.indexOf('ARMOR') >= 0">
                  <img src="assets/img/sets/default_GLOVES.png" class="resource-icon pointer" (click)="gearFilter('GLOVES')" [class.black-border]="gearTypeFilter.indexOf('GLOVES') >= 0">
                  <img src="assets/img/sets/default_BOOTS.png" class="resource-icon pointer" (click)="gearFilter('BOOTS')" [class.black-border]="gearTypeFilter.indexOf('BOOTS') >= 0">
                  <img src="assets/icon/info.png" class="resource-icon pointer" (click)="openSetsInfo()">
                </div>
                <div class="flex-space-between">
                  <img *ngFor="let set of enumService.getGearSets()" src="assets/icon/gear/{{set}}.png" (click)="setFilter(set)" class="small-icon pointer" [class.small-icon-selected]="gearSetFilter == set">
                </div>
              </div>
            </ion-item>
            <div class="armory">
              <ion-list>
                <ion-item *ngFor="let gear of getAvailableGears()" class="mt-05">
                  <gear-list-item [hero]="selectedHero" [type]="gear.type" [gear]="gear" (callback)="selectHero($event, true)" class="full-width"></gear-list-item>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
