.gear-icon-box {
  position: relative;
  max-width: 40px;
  .gear-icon {
    font-size: 2em;
  }
  .gear-special-icon {
    position: absolute;
    font-size: 1em;
    top: 33%;
    left: 33%;
    &.inner {
      color: white;
    }
    &.jewel {
      color: #bfbd1e;
    }
  }
}

.gear-stars {
  font-size: 0.3em;
}

.gear-jewels {
  height: 40px;
  width: 20px;
  padding: 0 4px;
}

.border_0 {
  border: 1px solid grey;
}

.border_1 {
  border: 2px solid #1da252;
}

.border_2 {
  border: 2px solid #3880ff;
}

.border_3 {
  border: 2px solid #7b5ce0;
}

.border_4 {
  border: 2px solid #f1c718;
}

.gear-SHABBY {
  background-color: #ffffff;
}
.gear-RUSTY {
  background-color: rgba(200, 200, 200, 0.25);
}
.gear-ORDINARY {
  background-color: rgba(190, 200, 200, 0.5);
}
.gear-USEFUL {
  background-color: rgba(94, 191, 220, 0.5);
}
.gear-GOOD {
  background-color: rgba(18, 218, 172, 0.5);
}
.gear-AWESOME {
  background-color: rgba(107, 228, 67, 0.75);
}
.gear-FLAWLESS {
  background-color: rgba(120, 20, 165, 0.5);
}
.gear-PERFECT {
  background-color: rgba(236, 229, 9, 0.75);
}
.gear-GODLIKE {
  background-color: #f3e004;
}