<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Welcome to Ambrosia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Please use the menu to navigate to the right page.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="map-container-outer">
        <div class="map-container-inner">
          <div class="map-row">
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
          </div>
          <div class="map-row">
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
          </div>
          <div class="map-row">
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
          </div>
          <div class="map-row">
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
          </div>
          <div class="map-row">
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
          </div>
          <div class="map-row">
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
            <div class="map-hexagon-wrapper">
              <div class="map-hexagon"></div>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
