<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{model.player.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/img/logo.png" alt=""></div>
<ion-content>
  <ion-card class="pa-2">
    <div class="flex-space-around">
      <div class="flex">
        Tokens
        <div class="flex ml-2 mr-2">{{model.resources.premiumTokens}}/{{model.resources.premiumTokensMax}}<ion-img src="assets/img/resources/PREMIUM_TOKENS.png" class="resource-icon" alt="premium tokens"></ion-img></div>
        <div class="flex pointer" (click)="tokensTimer = !tokensTimer">{{tokensTimer ? ( model.resources.tokens >= model.resources.tokensMax ? 'max' : converter.time(model.resources.tokensProduceIn) ) : model.resources.tokens + '/' + model.resources.tokensMax}}<ion-img src="assets/img/resources/TOKENS.png" class="resource-icon" alt="tokens"></ion-img></div>
      </div>
      <div class="flex">
        Cogwheels
        <div class="flex ml-2 mr-2">{{model.resources.premiumCogwheels}}/{{model.resources.premiumCogwheelsMax}}<ion-img src="assets/img/resources/PREMIUM_COGWHEELS.png" class="resource-icon" alt="premium cogwheels"></ion-img></div>
        <div class="flex pointer" (click)="cogwheelsTimer = !cogwheelsTimer">{{cogwheelsTimer ? ( model.resources.cogwheels >= model.resources.cogwheelsMax ? 'max' : converter.time(model.resources.cogwheelsProduceIn) ) : model.resources.cogwheels + '/' + model.resources.cogwheelsMax}}<ion-img src="assets/img/resources/COGWHEELS.png" class="resource-icon" alt="cogwheels"></ion-img></div>
      </div>
      <div class="flex">
        Steam
        <div class="flex ml-2 mr-2">{{model.resources.premiumSteam}}/{{model.resources.premiumSteamMax}}<ion-img src="assets/img/resources/PREMIUM_STEAM.png" class="resource-icon" alt="premium steam"></ion-img></div>
        <div class="flex pointer" (click)="steamTimer = !steamTimer">{{steamTimer ? ( model.resources.steam >= model.resources.steamMax ? 'max' : converter.time(model.resources.steamProduceIn) ) : model.resources.steam + '/' + model.resources.steamMax}}<ion-img src="assets/img/resources/STEAM.png" class="resource-icon" alt="steam"></ion-img></div>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="scrollable-list pa-2">
      <div *ngFor="let building of buildings" class="flex-vert-center mr-4">
        <div class="building-avatar">
          <ion-img src="assets/img/buildings/{{building.type}}.png" class="pointer" (click)="gotoBuilding(building.type)"></ion-img>
        </div>
        <div class="mt-1">{{converter.readableIdentifier(building.type)}}</div>
      </div>
    </div>
  </ion-card>

  <ion-card *ngIf="map">
    <ion-card-header>
      <ion-card-title>{{map.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="map-container-outer scrollable-vert">
        <div class="player-map-container-inner {{map.background}}">
          <div *ngFor="let y of rows" class="map-row" [class.even]="isEven(y)" [class.odd]="!isEven(y)">
            <div *ngFor="let tile of getRow(y)" class="map-hexagon-wrapper">
              <div class="map-hexagon-overlay" (click)="selectTile(tile)" [class.hover]="tile.discoverable || (tile.discovered && (tile.structure || tile.fightIcon))" [class.pointer]="tile.discoverable || (tile.discovered && (tile.structure || tile.fightIcon))">
                <img *ngIf="tile.discovered && tile.structure" src="assets/img/structures/{{tile.structure}}.png" class="structure">
                <img *ngIf="tile.discovered && tile.fightIcon" src="assets/img/monster/{{tile.fightIcon}}.png" class="monster">
                <div *ngIf="tile.discoverable" class="costs">
                  {{map.discoverySteamCost}}<ion-img src="assets/img/resources/STEAM.png" class="resource-icon"></ion-img>
                </div>
              </div>
              <div class="map-hexagon">
                <img *ngIf="tile.discovered" src="assets/img/{{tile.type}}.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
