<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/img/logo.png" alt=""></div>
<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Welcome to Ambrosia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Please use the menu to navigate to the right page.</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="map">
    <ion-card-header>
      <ion-card-title>{{map.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="map-container-outer scrollable-vert">
        <div class="player-map-container-inner {{map.background}}">
          <div *ngFor="let y of rows" class="map-row" [class.even]="isEven(y)" [class.odd]="!isEven(y)">
            <div *ngFor="let tile of getRow(y)" class="map-hexagon-wrapper">
              <div class="map-hexagon-overlay" (click)="selectTile(tile)" [class.hover]="tile.discoverable || (tile.discovered && (tile.structure || tile.fightIcon))" [class.pointer]="tile.discoverable || (tile.discovered && (tile.structure || tile.fightIcon))">
                <img *ngIf="tile.discovered && tile.structure" src="assets/img/structures/{{tile.structure}}.png" class="structure">
                <img *ngIf="tile.discovered && tile.fightIcon" src="assets/img/monster/{{tile.fightIcon}}.png" class="monster">
                <div *ngIf="tile.discoverable" class="costs">
                  5<i class="ra ra-site"></i>
                </div>
              </div>
              <div class="map-hexagon">
                <img *ngIf="tile.discovered" src="assets/img/{{tile.type}}.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
