<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        <div>Expedition</div>
        <div class="flex-center">
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/icon/logo.png" alt="" class="logo"></div>
<ion-content *ngIf="expedition">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{expedition.expeditionBase.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>{{expedition.expeditionBase.description}}</div>
      <div class="flex-space-between">
        <div>{{converter.readableIdentifier(expedition.expeditionBase.rarity)}}</div>
        <div>{{converter.timeWithUnit(expedition.expeditionBase.durationMinutes * 60)}}</div>
        <div>{{expedition.expeditionBase.xp}} XP</div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Your heroes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [class.scrollable-list]="!blockView" [class.hero-block-view]="blockView">
        <hero-icon *ngFor="let hero of model.heroes" [hero]="hero" class="mr-1 ml-1" [class.mt-1]="blockView" [clickable]="true" (clicked)="selectHero(hero)" [selected]="hero == hero1 || hero == hero2 || hero == hero3 || hero == hero4"></hero-icon>
      </div>
      <div class="full-width flex-center">
        <ion-button size="small" fill="outline" color="dark" (click)="blockView = !blockView"><ion-icon [name]="blockView ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="flex-space-between flex-wrap">
        <div (click)="selectVehicle()" class="pointer" *ngIf="model.vehicles && model.vehicles.length > 0">
          <vehicle *ngIf="vehicle" [vehicle]="vehicle" [small]="true" [showName]="false"></vehicle>
          <div *ngIf="!vehicle">
            <ion-img class="vehicle-avatar small" src="/assets/img/vehicles/EMPTY_SLOT.png"></ion-img>
          </div>
        </div>
        <hero-icon *ngFor="let hero of getSelectedHeroes()" [hero]="hero" [clickable]="true" (clicked)="selectHero($event)"></hero-icon>
      </div>
      <div class="flex-center">
        <ion-button size="small" (click)="startExpedition()" [disabled]="!canStartExpedition()">{{converter.timeWithUnit(expedition.expeditionBase.durationMinutes * 60)}}</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
