<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between">
        <div class="flex-center">
          Account
        </div>
        <div class="flex-center">
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="saving" class="loading-indicator"><img src="assets/icon/logo.png" alt="" class="logo"></div>
<looted></looted>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{model.player.name}} #{{model.player.id}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="model.player.admin"><i>You are an <strong>admin</strong>. Please be careful with admin functions.</i></div>
      <div *ngIf="model.player.betaTester"><i>You are a <strong>beta tester</strong>. Thank you for that. Please use these functions only for testing purposes.</i></div>
      <div class="mt-2 flex">
        <span class="mr-2 flex-center">Lvl {{model.progress.level}} <img class="ml-05 mr-05 resource-icon pointer" src="assets/icon/info.png" (click)="showLevelUpInfo()"></span>
        <span class="flex-grow bar-outer with-text xp ml-2">
          <span class="bar-filled" [style.width]="(100 * model.progress.xp / model.progress.maxXp) + '%'"></span>
          <span class="bar-text" *ngIf="model.progress.xp < model.progress.maxXp">{{model.progress.maxXp - model.progress.xp}} XP needed</span>
          <span class="bar-text" *ngIf="model.progress.xp >= model.progress.maxXp">max</span>
        </span>
      </div>
      <div class="mt-2 flex">
        <span class="mr-2 flex-center">VIP {{model.progress.vipLevel}} <img class="ml-05 mr-05 resource-icon pointer" src="assets/icon/info.png" (click)="showVipLevelInfo()"></span>
        <span class="flex-grow bar-outer with-text asc ml-2">
          <span class="bar-filled" [style.width]="(100 * model.progress.vipPoints / model.progress.vipMaxPoints) + '%'"></span>
          <span class="bar-text" *ngIf="model.progress.vipPoints < model.progress.vipMaxPoints">{{model.progress.vipMaxPoints - model.progress.vipPoints}} VIP needed</span>
          <span class="bar-text" *ngIf="model.progress.vipPoints >= model.progress.vipMaxPoints">max</span>
        </span>
      </div>
      <div class="mt-2" [class.flex-space-between]="expeditionsToNextLevel() == 0" *ngIf="model.progress.expeditionLevel > 0">
        <div>
          Expedition level:
          <strong>{{model.progress.expeditionLevel}}</strong>
          <i *ngIf="model.progress.expeditionLevel == 6"> (max)</i>
          <span *ngIf="model.progress.expeditionLevel < 6"> ({{expeditionsToNextLevel()}} to next level)</span>
        </div>
        <ion-button *ngIf="expeditionsToNextLevel() == 0" color="success" size="small" (click)="expLevelUp()">Level up</ion-button>
      </div>
      <div class="mt-2">
        <ion-button size="small" fill="outline" (click)="logout()">Logout</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
