<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="flex-space-between scrollable-vert">
        <div class="position-relative pointer" (click)="openUpgradeModal()">
          Jewelry L{{buildingService.getBuilding(buildingType).level}}
          <div class="upgrade-bubble {{buildingService.getUpgradeCss(buildingType)}}">!</div>
        </div>
        <div class="flex-center">
          <img class="ml-05 mr-05 resource-icon pointer" src="assets/icon/info.png" (click)="showUpgradeInfo()">
          <ion-button size="small" fill="clear" color="dark" (click)="close()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<looted></looted>
<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="flex-space-between font-small">
        <div>Jewel upgrade level: {{model.progress.maxJewelUpgradingLevel}}</div>
        <div class="flex">{{model.resources.coins}}
          <ion-img src="assets/icon/resources/COINS.png" class="resource-icon"></ion-img>
        </div>
        <div class="flex">{{model.resources.rubies}}
          <ion-img src="assets/icon/resources/RUBIES.png" class="resource-icon"></ion-img>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let jewelry of jewelryService.getAllJewelries()">
    <ion-card-header>
      <ion-card-title>{{converter.readableIdentifier(jewelry.type)}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flex-space-between scrollable-vert">
        <div class="flex-vert-center flex-no-shrink" *ngFor="let level of levels">
          Level {{level}}
          <ion-button (click)="openJewelUpgradeModal(jewelry.type, level)" size="small" [fill]="jewelry['lvl' + level] < 4 || model.progress.maxJewelUpgradingLevel < level ? 'clear' : 'outline'" [color]="jewelry['lvl' + level] < 4 || model.progress.maxJewelUpgradingLevel < level ? 'dark' : 'success'" [disabled]="jewelry['lvl' + level] < 4 || model.progress.maxJewelUpgradingLevel < level">
              {{jewelry['lvl' + level] > 0 ? jewelry['lvl' + level] + 'x ' : ''}}<img src="assets/img/jewels/{{jewelry.slot}}_{{level}}.png" class="jewel-icon">
          </ion-button>
          <div *ngFor="let bonus of propertyService.getJewelValueAndName(jewelry.type, level)" class="pl-1 pr-1">{{bonus}}</div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
